version: 1.1.0.{build}
image: Ubuntu
configuration: Release
environment:
  EmsApiTestEndpoint: https://ems.efoqa.com/api
  EmsApiTestUsername:
    secure: CKE0VKVpiKUfLFsWiIam/Q==
  EmsApiTestPassword:
    secure: Qqu8CaKv6EfIreKL0TEGK6O2q9luub4ihBkJtWIsp/zdLONDKa4cDqfybCE9i7XU
nuget:
  project_feed: true
before_build:
  - ps: ./Dto/Update-EmsApiSwaggerSpecAuto.ps1
build_script:
  - ps: ./build.ps1
test_script:
  - ps: ./test.ps1
deploy:
- provider: NuGet
  api_key:
    secure: X2rGbJmq0+BmshFLvgrVZaJZvGBab2JZNeb0ajpDZJdJMlOTYRVL8U7rkcsYo9NkLOkrgHqHb0ei8i4bfKJ0yXKLldAVqugN6KxvCPoN1A0=
  skip_symbols: false
  on:
    appveyor_repo_tag: true
  artifact: /.*\.nupkg/
artifacts:
- path: '**/*.nupkg'
- path: 'Client/bin/Release/**/*.dll'