{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "EMS API v2",
    "description": "The second version of the REST-based API for accessing EMS data"
  },
  "host": "d1mo-api.us.efoqa.com:443",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/admin/api-clients": {
      "get": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Returns a list of the API clients.",
        "operationId": "AdminApiClient_GetApiClients",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "The optional client ID search string used to search the list of clients. Only clients\r\n            that contain this search string in their client ID are returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Creates a new API client with the provided client settings.",
        "operationId": "AdminApiClient_CreateApiClient",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "apiClient",
            "in": "body",
            "description": "The API client settings to use for the new client.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClientNew"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"
            }
          },
          "400": {
            "description": "The specified API client properties are invalid, another client exists with the same client ID, or the client could not be saved.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/api-clients/{clientId}": {
      "get": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Returns an API client.",
        "operationId": "AdminApiClient_GetApiClient",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The integer ID of the API client to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An API client with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Deletes an API client.",
        "operationId": "AdminApiClient_DeleteApiClient",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The integer ID of the API client to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "An API client with the specified ID could not be deleted.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An API client with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/api-clients/{clientId}/reset-client-secret": {
      "post": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Updates an API client record by resetting the \"client secret\" that can be used when authenticating with \r\n            the services.",
        "operationId": "AdminApiClient_ResetApiClientSecret",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The integer ID of the API client to reset the associated client secret.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "newClientSecret",
            "in": "body",
            "description": "An object containing the new value to use as the API client's secret value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClientSecretReset"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The API client with the specified ID failed to have its client secret reset.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An API client with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/api-clients/{clientId}/enable": {
      "post": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Updates an API client record by setting its \"enabled\" flag to true.",
        "operationId": "AdminApiClient_EnableApiClient",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The integer ID of the API client to enable.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The API client with the specified ID failed to be enabled.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An API client with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/api-clients/{clientId}/disable": {
      "post": {
        "tags": [
          "Admin Api Client APIs"
        ],
        "summary": "Updates an API client record by setting its \"enabled\" flag to false.",
        "operationId": "AdminApiClient_DisableApiClient",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "The integer ID of the API client to disable.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The API client with the specified ID failed to be disabled.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An API client with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/application/reconnect-ems-systems": {
      "post": {
        "tags": [
          "Admin Application APIs"
        ],
        "summary": "Discards connection information to all EMS systems known to the user. This will force the server to reload all configuration\r\n            and other information from the server during the next connection.",
        "operationId": "AdminApplication_ReconnectEmsSystems",
        "consumes": [],
        "produces": [],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/application/reconnect-ems-systems/{emsSystemId}": {
      "post": {
        "tags": [
          "Admin Application APIs"
        ],
        "summary": "Discards connection information to the backing EMS system. This will force the server to reload all configuration\r\n            and other information from the server during the next connection.",
        "description": "Typically this is called when there have been modifications to user or group membership in groups in Active Dirctory. \r\n            In desktop applications, when someone has their group membership changed, that user can lock and unlock the machine, \r\n            which recreates the user token representing the rights for that user. In the case of a web server, there is no way to \r\n            manually refresh the cached user rights short of stopping and starting the application pool. \r\n            Instead, call this method to force the web server to refresh access rights based on group membership changes.",
        "operationId": "AdminApplication_ReconnectEmsSystem",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/application/refresh-security/{emsSystemId}": {
      "post": {
        "tags": [
          "Admin Application APIs"
        ],
        "summary": "Informs the website that security has been modified on an EMS system and requests a refresh from Active Directory.",
        "description": "Typically this is called when there have\r\n            been modifications to user or group membership in groups in Active Dirctory. In desktop applications, when someone\r\n            has their group membership changed, that user can lock and unlock the machine, which recreates the user token \r\n            representing the rights for that user. In the case of a web server, there is no way to manually refresh the cached\r\n            user rights short of stopping and starting the application pool. \r\n            Instead, call this method to force the web server to refresh access rights based on group membership changes.",
        "operationId": "AdminApplication_RefreshSecurity",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards": {
      "get": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Returns a list of dashboards.",
        "operationId": "AdminDashboard_GetDashboards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "The optional title search string used to search the list of dashboards. Only dashboards\r\n            that contain this search string in their title are returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Dashboard"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/{dashboardId}": {
      "get": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Returns a dashboard.",
        "operationId": "AdminDashboard_GetDashboard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Dashboard"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Deletes a dashboard.",
        "operationId": "AdminDashboard_DeleteDashboard",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "A dashboard with the specified ID could not be deleted.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/{dashboardId}/groups": {
      "get": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Returns the list of the groups assigned to have access to a dashboard.",
        "operationId": "AdminDashboard_GetDashboardGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of dashboard for which to return assigned groups.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/{dashboardId}/groups/{groupId}": {
      "post": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Assigns a group to a dashboard to provide access to a dashboard.",
        "operationId": "AdminDashboard_AddDashboardGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to assign a group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to assign to a dashboard.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the dashboard and group with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard or a group with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Removes the assignment of a group from a dashboard to remove access from a dashboard.",
        "operationId": "AdminDashboard_RemoveDashboardGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to remove group access.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to remove access from a dashboard.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the dashboard and group with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard and group association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/{dashboardId}/users": {
      "get": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Returns the list of the users assigned to have access to a dashboard.",
        "operationId": "AdminDashboard_GetDashboardUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of dashboard for which to return assigned users.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/{dashboardId}/users/{userId}": {
      "post": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Assigns a user to a dashboard to provide access to a dashboard.",
        "operationId": "AdminDashboard_AddDashboardUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to assign a user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user to assign to a dashboard.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the dashboard and user with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard or a user with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Removes the assignment of a user from a dashboard to remove access from a dashboard.",
        "operationId": "AdminDashboard_RemoveDashboardUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The integer ID of the dashboard to remove user access.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user to remove access from a dashboard.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the dashboard and user with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A dashboard and group association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/import": {
      "post": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Imports one or more dashboards in an XML file, included in the request body. When importing more than one\r\n            dashboard at once, imports might partially succeed. Information is returned about the status of each \r\n            import.",
        "operationId": "AdminDashboard_ImportDashboards",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "xml",
            "in": "body",
            "description": "XML specifying the dashboards and all their properties to import.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.DashboardsImport"
            }
          },
          "400": {
            "description": "None of the specified dashboards could be imported.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/dashboards/export": {
      "post": {
        "tags": [
          "Admin Dashboard APIs"
        ],
        "summary": "Exports one or more dashboards to an XML file, returned in the response body.",
        "operationId": "AdminDashboard_ExportDashboards",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "dashboardIds",
            "in": "body",
            "description": "An object containing the list of dashboard IDs to export to XML.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.DashboardIds"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Dashboards with one or more of the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/ems-systems/{emsSystemId}/securables/{securableId}": {
      "get": {
        "tags": [
          "Admin Ems Securable APIs"
        ],
        "summary": "Returns the effective access permission for the given securable and access right for a given user.",
        "operationId": "AdminEmsSecurable_GetUserAccessForSecurable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS securable.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "securableId",
            "in": "path",
            "description": "The ID of the securable to check access for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessRight",
            "in": "query",
            "description": "The name of the access right for the securable. This has to be a valid access right for the specific type of securable.",
            "required": true,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "The username of the user to check the securable access right against.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsSecurable.EmsSecurableEffectiveAccess"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "The username, securable identifier or access right could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/ems-systems": {
      "get": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Returns a list of EMS systems.",
        "operationId": "AdminEmsSystem_GetEmsSystems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The optional name search string used to search the list of EMS systems. Only EMS \r\n            systems that contain this search string in their name are returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/ems-systems/{emsSystemId}": {
      "get": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Returns an EMS system.",
        "operationId": "AdminEmsSystem_GetEmsSystem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An EMS system with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Deletes an EMS system.",
        "operationId": "AdminEmsSystem_DeleteEmsSystem",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An EMS system with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/ems-systems/{emsSystemId}/users": {
      "get": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Returns the list of the users assigned to have access to an EMS system.",
        "operationId": "AdminEmsSystem_GetEmsSystemUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of EMS system for which to return assigned users.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An EMS system with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/ems-systems/{emsSystemId}/users/{userId}": {
      "post": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Assigns a user to an EMS system to provide access to an EMS system.",
        "operationId": "AdminEmsSystem_AddEmsSystemUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to assign a user.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user to assign to an EMS system.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the EMS system and user with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An EMS system or a user with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Ems System APIs"
        ],
        "summary": "Removes the assignment of a user from an EMS system to remove access from an EMS system.",
        "operationId": "AdminEmsSystem_RemoveEmsSystemUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to remove user access.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user to remove access from an EMS system.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the EMS system and user with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "An EMS system and user association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/groups": {
      "get": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Returns a list of the groups.",
        "operationId": "AdminGroup_GetGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The optional group name search string used to search the list of groups. Only groups\r\n            that contain this search string in their group name are returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Creates a new group with the provided group settings.",
        "operationId": "AdminGroup_CreateGroup",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "description": "The group settings to use for the new group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
            }
          },
          "400": {
            "description": "The specified group properties are invalid, another group exists with the same name, or the group could not be saved.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/groups/{groupId}": {
      "get": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Returns a group.",
        "operationId": "AdminGroup_GetGroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A group with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Deletes a group.",
        "operationId": "AdminGroup_DeleteGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "force",
            "in": "query",
            "description": "If set to true, the group will be deleted even if the group has members; otherwise\r\n            an error message is returned.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "A group with the specified ID could not be deleted.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A group with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/groups/{groupId}/users": {
      "get": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Returns the list of the user accounts associated with a group.",
        "operationId": "AdminGroup_GetGroupUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of group for which to return associated user accounts.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A group with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/groups/{groupId}/users/{userId}": {
      "post": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Associates a user account with a group.",
        "operationId": "AdminGroup_AddGroupUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to associate with the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to associate with the group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the group and user with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A group or a user with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin Group APIs"
        ],
        "summary": "Disassociates a user account from a group.",
        "operationId": "AdminGroup_RemoveUserGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to disassociate from the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to disassociate from the group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the group and user with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A group and user association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users": {
      "get": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Returns a list of the user accounts.",
        "operationId": "AdminUser_GetUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The optional username search string used to search the list of users. Only users\r\n            that contain this search string in their user name are returned.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Creates a new user account with the provided account settings.",
        "operationId": "AdminUser_CreateUser",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "The user account settings associated with the new user account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
            }
          },
          "400": {
            "description": "The specified user properties are invalid or the user could not be saved.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}": {
      "get": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Returns a user account.",
        "operationId": "AdminUser_GetUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to return.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Deletes a user account.",
        "operationId": "AdminUser_DeleteUser",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to delete.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "A user with the specified ID could not be deleted.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}/send-welcome-email": {
      "post": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Sends a welcome email to the email address associated with a user account.",
        "operationId": "AdminUser_SendWelcomeEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to which a welcome email should be sent.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "An email failed to be sent to the user with the specified ID.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}/groups": {
      "get": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Returns the list of the groups associated with a user account.",
        "operationId": "AdminUser_GetUserGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of user account for which to return associated groups.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}/groups/{groupId}": {
      "post": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Associates a user account with a group.",
        "operationId": "AdminUser_AddUserGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to associate with the group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to associate with the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the user and group with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user or a group with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Disassociates a user account from a group.",
        "operationId": "AdminUser_RemoveUserGroup",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to disassociate from the group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The integer ID of the group to disassociate from the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the user and group with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user and group association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}/ems-systems": {
      "get": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Returns the list of the EMS systems associated with a user account.",
        "operationId": "AdminUser_GetUserEmsSystems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of user account for which to return associated EMS systems.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user with the specified ID could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/admin/users/{userId}/ems-systems/{emsSystemId}": {
      "post": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Associates a user account with an EMS system.",
        "operationId": "AdminUser_AddUserEmsSystem",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to associate with the EMS system.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to associate with the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the user and EMS system with the specified IDs could not be added or already exists.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user or an EMS system with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Admin User APIs"
        ],
        "summary": "Disassociates a user account from an EMS system.",
        "operationId": "AdminUser_RemoveUserEmsSystem",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The integer ID of the user account to disassociate from the EMS system.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The integer ID of the EMS system to disassociate from the user account.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The association between the user and EMS system with the specified IDs could not be removed.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "404": {
            "description": "A user and EMS system association with the specified IDs could not be found.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ems-systems/{emsSystemId}/alerts/definitions": {
      "get": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Returns the full list of alert definitions in the system.",
        "operationId": "Alert_GetDefinitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.Definition"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Creates a new alert definition in the system.",
        "operationId": "Alert_CreateDefinition",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "definition",
            "in": "body",
            "description": "The new alert definition, without an Id.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.SetDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.Definition"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ems-systems/{emsSystemId}/alerts/definitions/{id}": {
      "get": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Returns a specific alert definition from the system.",
        "operationId": "Alert_GetDefinition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the alert definition of interest.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.Definition"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Updates an alert definition in the system. Note that the alert's linked type cannot be changed.",
        "operationId": "Alert_UpdateDefinition",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the alert definition to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "body",
            "description": "The updated alert definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.SetDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Deletes a specific alert definition from the system.",
        "operationId": "Alert_RemoveDefinition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the alert definition to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/System.Object"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ems-systems/{emsSystemId}/alerts/definitions/{id}/entities/{entityRecord}/state": {
      "get": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Gets the current state for some alert for a data entity (e.g. an aircraft).",
        "operationId": "Alert_SetAlertState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert definition whose state is being queried.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityRecord",
            "in": "path",
            "description": "The record number of the entity being queried.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.GetActivity"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ems-systems/{emsSystemId}/alerts/definitions/{id}/entities/{entityRecord}/activity": {
      "get": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Gets all the activity/history entries for some alert on a particular entity.",
        "operationId": "Alert_GetAlertActivity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert definition whose activity is being queried.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityRecord",
            "in": "path",
            "description": "The record number of the entity whose alert activity is being queried.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of activity entries to retrieve (default = 100). Results are returned in newest-first order.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.GetActivity"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Alert APIs"
        ],
        "summary": "Adds an activity/history entry for some alert on a particular entity, indicating a time when the\r\n            alert state was changed or known to have some value.",
        "operationId": "Alert_AddAlertActivity",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert definition whose activity is being recorded.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityRecord",
            "in": "path",
            "description": "The record number of the entity whose alert activity is being recorded.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "inputs",
            "in": "body",
            "description": "The inputs for how to set the alert state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.AddActivity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.Alert.GetActivity"
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/ems-systems/{emsSystemId}/analytics": {
      "get": {
        "tags": [
          "Analytic APIs"
        ],
        "summary": "Searches for analytics by name.",
        "operationId": "Analytic_SearchForAnalytics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
            "description": "The unique identifier of the system containing the EMS data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "text",
            "in": "query",
            "description": "The search terms used to find a list of analytics by name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "query",
            "description": "An optional group ID to specify where to limit the search. If not specified, all groups \r\n            are searched.",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The optional maximum number of matching results to return. If not specified, a \r\n            default value of 200 is used. Use 0 to return all results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of analytics to search, including \"Full\", \"Physical\" or \"Logical\". A \r\n            null value specifies the default analytic set, which represents the full set of values exposed by the \r\n            backing EMS system.",
            "required": false,
            "type": "string",
            "enum": [
              "full",
              "physical",
              "logical"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"
              }
            }
          },
          "401": {
            "description": "You do not have access to the requested resource.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          },
          "503": {
            "description": "The maximum number of concurrent requests has been reached.",
            "schema": {
              "$ref": "#/definitions/Adi.Ems.Web.Api.Model.Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Analytic APIs"
        ],
        "summary": "Retrieves metadata information associated with an analytic such as a description or units.",
        "operationId": "Analytic_GetAnalyticInfo",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "emsSystemId",
            "in": "path",
[...]
