{"swagger":"2.0","info":{"version":"v2","title":"EMS API v2","description":"The second version of the REST-based API for accessing EMS data"},"host":"emsapi.ausdig.com:443","basePath":"/api","schemes":["https"],"paths":{"/v2/admin/api-clients":{"get":{"tags":["Admin Api Client APIs"],"summary":"Returns a list of the API clients.","operationId":"AdminApiClient_GetApiClients","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"query","description":"The optional client ID search string used to search the list of clients. Only clients\r\n            that contain this search string in their client ID are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"post":{"tags":["Admin Api Client APIs"],"summary":"Creates a new API client with the provided client settings.","operationId":"AdminApiClient_CreateApiClient","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"apiClient","in":"body","description":"The API client settings to use for the new client.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClientNew"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"}},"400":{"description":"The specified API client properties are invalid, another client exists with the same client ID, or the client could not be saved.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/api-clients/{clientId}":{"get":{"tags":["Admin Api Client APIs"],"summary":"Returns an API client.","operationId":"AdminApiClient_GetApiClient","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"clientId","in":"path","description":"The integer ID of the API client to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClient"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An API client with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Api Client APIs"],"summary":"Deletes an API client.","operationId":"AdminApiClient_DeleteApiClient","consumes":[],"produces":[],"parameters":[{"name":"clientId","in":"path","description":"The integer ID of the API client to delete.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"An API client with the specified ID could not be deleted.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An API client with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/api-clients/{clientId}/reset-client-secret":{"post":{"tags":["Admin Api Client APIs"],"summary":"Updates an API client record by resetting the \"client secret\" that can be used when authenticating with \r\n            the services.","operationId":"AdminApiClient_ResetApiClientSecret","consumes":["application/json","text/json"],"produces":[],"parameters":[{"name":"clientId","in":"path","description":"The integer ID of the API client to reset the associated client secret.","required":true,"type":"integer","format":"int32"},{"name":"newClientSecret","in":"body","description":"An object containing the new value to use as the API client's secret value.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.ApiClientSecretReset"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"The API client with the specified ID failed to have its client secret reset.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An API client with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/api-clients/{clientId}/enable":{"post":{"tags":["Admin Api Client APIs"],"summary":"Updates an API client record by setting its \"enabled\" flag to true.","operationId":"AdminApiClient_EnableApiClient","consumes":[],"produces":[],"parameters":[{"name":"clientId","in":"path","description":"The integer ID of the API client to enable.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The API client with the specified ID failed to be enabled.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An API client with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/api-clients/{clientId}/disable":{"post":{"tags":["Admin Api Client APIs"],"summary":"Updates an API client record by setting its \"enabled\" flag to false.","operationId":"AdminApiClient_DisableApiClient","consumes":[],"produces":[],"parameters":[{"name":"clientId","in":"path","description":"The integer ID of the API client to disable.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The API client with the specified ID failed to be disabled.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An API client with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/application/reconnect-ems-systems":{"post":{"tags":["Admin Application APIs"],"summary":"Clears all the EMS caches currently active in the application, which can be useful if underlying the data \r\n            or security for one or more related EMS systems has changed recently and you want these changes to take \r\n            effect immediately.","operationId":"AdminApplication_ReconnectEmsSystems","consumes":[],"produces":[],"responses":{"204":{"description":"No Content"},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/application/refresh-security/{emsSystemId}":{"post":{"tags":["Admin Application APIs"],"summary":"Informs the website that security has been modified on an EMS system and requests a refresh from Active Directory.","description":"Typically this is called when there have\r\n            been modifications to user or group membership in groups in Active Dirctory. In desktop applications, when someone\r\n            has their group membership changed, that user can lock and unlock the machine, which recreates the user token \r\n            representing the rights for that user. In the case of a web server, there is no way to manually refresh the cached\r\n            user rights short of stopping and starting the application pool. \r\n            Instead, call this method to force the web server to refresh access rights based on group membership changes.","operationId":"AdminApplication_RefreshSecurity","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards":{"get":{"tags":["Admin Dashboard APIs"],"summary":"Returns a list of dashboards.","operationId":"AdminDashboard_GetDashboards","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"title","in":"query","description":"The optional title search string used to search the list of dashboards. Only dashboards\r\n            that contain this search string in their title are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Dashboard"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/{dashboardId}":{"get":{"tags":["Admin Dashboard APIs"],"summary":"Returns a dashboard.","operationId":"AdminDashboard_GetDashboard","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Dashboard"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Dashboard APIs"],"summary":"Deletes a dashboard.","operationId":"AdminDashboard_DeleteDashboard","consumes":[],"produces":[],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to delete.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"A dashboard with the specified ID could not be deleted.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/{dashboardId}/groups":{"get":{"tags":["Admin Dashboard APIs"],"summary":"Returns the list of the groups assigned to have access to a dashboard.","operationId":"AdminDashboard_GetDashboardGroups","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of dashboard for which to return assigned groups.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/{dashboardId}/groups/{groupId}":{"post":{"tags":["Admin Dashboard APIs"],"summary":"Assigns a group to a dashboard to provide access to a dashboard.","operationId":"AdminDashboard_AddDashboardGroup","consumes":[],"produces":[],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to assign a group.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"path","description":"The integer ID of the group to assign to a dashboard.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the dashboard and group with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard or a group with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Dashboard APIs"],"summary":"Removes the assignment of a group from a dashboard to remove access from a dashboard.","operationId":"AdminDashboard_RemoveDashboardGroup","consumes":[],"produces":[],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to remove group access.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"path","description":"The integer ID of the group to remove access from a dashboard.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the dashboard and group with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard and group association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/{dashboardId}/users":{"get":{"tags":["Admin Dashboard APIs"],"summary":"Returns the list of the users assigned to have access to a dashboard.","operationId":"AdminDashboard_GetDashboardUsers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of dashboard for which to return assigned users.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/{dashboardId}/users/{userId}":{"post":{"tags":["Admin Dashboard APIs"],"summary":"Assigns a user to a dashboard to provide access to a dashboard.","operationId":"AdminDashboard_AddDashboardUser","consumes":[],"produces":[],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to assign a user.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user to assign to a dashboard.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the dashboard and user with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard or a user with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Dashboard APIs"],"summary":"Removes the assignment of a user from a dashboard to remove access from a dashboard.","operationId":"AdminDashboard_RemoveDashboardUser","consumes":[],"produces":[],"parameters":[{"name":"dashboardId","in":"path","description":"The integer ID of the dashboard to remove user access.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user to remove access from a dashboard.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the dashboard and user with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A dashboard and group association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/import":{"post":{"tags":["Admin Dashboard APIs"],"summary":"Imports one or more dashboards in an XML file, included in the request body. When importing more than one\r\n            dashboard at once, imports might partially succeed. Information is returned about the status of each \r\n            import.","operationId":"AdminDashboard_ImportDashboards","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"xml","in":"body","description":"XML specifying the dashboards and all their properties to import.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.DashboardsImport"}},"400":{"description":"None of the specified dashboards could be imported.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/dashboards/export":{"post":{"tags":["Admin Dashboard APIs"],"summary":"Exports one or more dashboards to an XML file, returned in the response body.","operationId":"AdminDashboard_ExportDashboards","consumes":["application/json","text/json"],"produces":[],"parameters":[{"name":"dashboardIds","in":"body","description":"An object containing the list of dashboard IDs to export to XML.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.DashboardIds"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Dashboards with one or more of the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/ems-systems":{"get":{"tags":["Admin Ems System APIs"],"summary":"Returns a list of EMS systems.","operationId":"AdminEmsSystem_GetEmsSystems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"name","in":"query","description":"The optional name search string used to search the list of EMS systems. Only EMS \r\n            systems that contain this search string in their name are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/ems-systems/{emsSystemId}":{"get":{"tags":["Admin Ems System APIs"],"summary":"Returns an EMS system.","operationId":"AdminEmsSystem_GetEmsSystem","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An EMS system with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Ems System APIs"],"summary":"Deletes an EMS system.","operationId":"AdminEmsSystem_DeleteEmsSystem","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to delete.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An EMS system with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/ems-systems/{emsSystemId}/users":{"get":{"tags":["Admin Ems System APIs"],"summary":"Returns the list of the users assigned to have access to an EMS system.","operationId":"AdminEmsSystem_GetEmsSystemUsers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The integer ID of EMS system for which to return assigned users.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An EMS system with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/ems-systems/{emsSystemId}/users/{userId}":{"post":{"tags":["Admin Ems System APIs"],"summary":"Assigns a user to an EMS system to provide access to an EMS system.","operationId":"AdminEmsSystem_AddEmsSystemUser","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to assign a user.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user to assign to an EMS system.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the EMS system and user with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An EMS system or a user with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Ems System APIs"],"summary":"Removes the assignment of a user from an EMS system to remove access from an EMS system.","operationId":"AdminEmsSystem_RemoveEmsSystemUser","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to remove user access.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user to remove access from an EMS system.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the EMS system and user with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An EMS system and user association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/groups":{"get":{"tags":["Admin Group APIs"],"summary":"Returns a list of the groups.","operationId":"AdminGroup_GetGroups","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"name","in":"query","description":"The optional group name search string used to search the list of groups. Only groups\r\n            that contain this search string in their group name are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"post":{"tags":["Admin Group APIs"],"summary":"Creates a new group with the provided group settings.","operationId":"AdminGroup_CreateGroup","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"group","in":"body","description":"The group settings to use for the new group.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}},"400":{"description":"The specified group properties are invalid, another group exists with the same name, or the group could not be saved.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/groups/{groupId}":{"get":{"tags":["Admin Group APIs"],"summary":"Returns a group.","operationId":"AdminGroup_GetGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"path","description":"The integer ID of the group to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A group with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Group APIs"],"summary":"Deletes a group.","operationId":"AdminGroup_DeleteGroup","consumes":[],"produces":[],"parameters":[{"name":"groupId","in":"path","description":"The integer ID of the group to delete.","required":true,"type":"integer","format":"int32"},{"name":"force","in":"query","description":"If set to true, the group will be deleted even if the group has members; otherwise\r\n            an error message is returned.","required":false,"type":"boolean"}],"responses":{"204":{"description":"No Content"},"400":{"description":"A group with the specified ID could not be deleted.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A group with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/groups/{groupId}/users":{"get":{"tags":["Admin Group APIs"],"summary":"Returns the list of the user accounts associated with a group.","operationId":"AdminGroup_GetGroupUsers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"groupId","in":"path","description":"The integer ID of group for which to return associated user accounts.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A group with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/groups/{groupId}/users/{userId}":{"post":{"tags":["Admin Group APIs"],"summary":"Associates a user account with a group.","operationId":"AdminGroup_AddGroupUser","consumes":[],"produces":[],"parameters":[{"name":"groupId","in":"path","description":"The integer ID of the group to associate with the user account.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user account to associate with the group.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the group and user with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A group or a user with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin Group APIs"],"summary":"Disassociates a user account from a group.","operationId":"AdminGroup_RemoveUserGroup","consumes":[],"produces":[],"parameters":[{"name":"groupId","in":"path","description":"The integer ID of the group to disassociate from the user account.","required":true,"type":"integer","format":"int32"},{"name":"userId","in":"path","description":"The integer ID of the user account to disassociate from the group.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the group and user with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A group and user association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users":{"get":{"tags":["Admin User APIs"],"summary":"Returns a list of the user accounts.","operationId":"AdminUser_GetUsers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"query","description":"The optional username search string used to search the list of users. Only users\r\n            that contain this search string in their user name are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"post":{"tags":["Admin User APIs"],"summary":"Creates a new user account with the provided account settings.","operationId":"AdminUser_CreateUser","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"user","in":"body","description":"The user account settings associated with the new user account.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}},"400":{"description":"The specified user properties are invalid or the user could not be saved.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}":{"get":{"tags":["Admin User APIs"],"summary":"Returns a user account.","operationId":"AdminUser_GetUser","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.User"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin User APIs"],"summary":"Deletes a user account.","operationId":"AdminUser_DeleteUser","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to delete.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"A user with the specified ID could not be deleted.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}/send-welcome-email":{"post":{"tags":["Admin User APIs"],"summary":"Sends a welcome email to the email address associated with a user account.","operationId":"AdminUser_SendWelcomeEmail","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to which a welcome email should be sent.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"An email failed to be sent to the user with the specified ID.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}/groups":{"get":{"tags":["Admin User APIs"],"summary":"Returns the list of the groups associated with a user account.","operationId":"AdminUser_GetUserGroups","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userId","in":"path","description":"The integer ID of user account for which to return associated groups.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.Group"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}/groups/{groupId}":{"post":{"tags":["Admin User APIs"],"summary":"Associates a user account with a group.","operationId":"AdminUser_AddUserGroup","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to associate with the group.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"path","description":"The integer ID of the group to associate with the user account.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the user and group with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user or a group with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin User APIs"],"summary":"Disassociates a user account from a group.","operationId":"AdminUser_RemoveUserGroup","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to disassociate from the group.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"path","description":"The integer ID of the group to disassociate from the user account.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the user and group with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user and group association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}/ems-systems":{"get":{"tags":["Admin User APIs"],"summary":"Returns the list of the EMS systems associated with a user account.","operationId":"AdminUser_GetUserEmsSystems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"userId","in":"path","description":"The integer ID of user account for which to return associated EMS systems.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Admin.EmsSystem"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/admin/users/{userId}/ems-systems/{emsSystemId}":{"post":{"tags":["Admin User APIs"],"summary":"Associates a user account with an EMS system.","operationId":"AdminUser_AddUserEmsSystem","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to associate with the EMS system.","required":true,"type":"integer","format":"int32"},{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to associate with the user account.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the user and EMS system with the specified IDs could not be added or already exists.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user or an EMS system with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"delete":{"tags":["Admin User APIs"],"summary":"Disassociates a user account from an EMS system.","operationId":"AdminUser_RemoveUserEmsSystem","consumes":[],"produces":[],"parameters":[{"name":"userId","in":"path","description":"The integer ID of the user account to disassociate from the EMS system.","required":true,"type":"integer","format":"int32"},{"name":"emsSystemId","in":"path","description":"The integer ID of the EMS system to disassociate from the user account.","required":true,"type":"integer","format":"int32"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The association between the user and EMS system with the specified IDs could not be removed.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A user and EMS system association with the specified IDs could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/analytics":{"get":{"tags":["Analytic APIs"],"summary":"Searches for analytics by name.","operationId":"Analytic_SearchForAnalytics","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"text","in":"query","description":"The search terms used to find a list of analytics by name.","required":true,"type":"string"},{"name":"group","in":"query","description":"An optional group ID to specify where to limit the search. If not specified, all groups \r\n            are searched.","required":false,"type":"string"},{"name":"maxResults","in":"query","description":"The optional maximum number of matching results to return. If not specified, a \r\n            default value of 200 is used. Use 0 to return all results.","required":false,"type":"integer","format":"int32"},{"name":"category","in":"query","description":"The category of analytics to search, including \"Full\", \"Physical\" or \"Logical\". A \r\n            null value specifies the default analytic set, which represents the full set of values exposed by the \r\n            backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"post":{"tags":["Analytic APIs"],"summary":"Retrieves metadata information associated with an analytic such as a description or units.","operationId":"Analytic_GetAnalyticInfo","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID for which data is retrieved. These identifiers are typically \r\n            obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics":{"get":{"tags":["Analytic APIs"],"summary":"Searches for analytics by name for a specific flight.","operationId":"Analytic_SearchForAnalytics","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when searching analytics.","required":true,"type":"integer","format":"int32"},{"name":"text","in":"query","description":"The search terms used to find a list of analytics by name.","required":true,"type":"string"},{"name":"group","in":"query","description":"An optional group ID to specify where to limit the search. If not specified, all groups are \r\n            searched.","required":false,"type":"string"},{"name":"maxResults","in":"query","description":"The optional maximum number of matching results to return. If not specified, a \r\n            default value of 200 is used. Use 0 to return all results.","required":false,"type":"integer","format":"int32"},{"name":"category","in":"query","description":"The category of analytics to search, including \"Full\", \"Physical\" or \"Logical\". A \r\n            null value specifies the default analytic set, which represents the full set of values exposed by the \r\n            backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false},"post":{"tags":["Analytic APIs"],"summary":"Retrieves metadata information associated with an analytic such as a description or units.","operationId":"Analytic_GetAnalyticInfo","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the analytic information.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID for which data is retrieved. These identifiers are typically \r\n            obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/analytic-groups":{"get":{"tags":["Analytic APIs"],"summary":"Retrieves the contents of an analytic group, which is a hierarchical tree structure used to organize analytics.","description":"The contents of a group includes both subgroups and analytics.","operationId":"Analytic_GetAnalyticGroupContents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"analyticGroupId","in":"query","description":"The ID of the group whose contents to retrieve. \r\n            If not specified, the contents of the root group will be returned.","required":false,"type":"string"},{"name":"category","in":"query","description":"The category of analytics we are interested in. \"Full\", \"Physical\" or \"Logical\". \r\n            A null value specifies the default analytic set, which represents the full set of values exposed by the backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticGroupContents"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytic-groups":{"get":{"tags":["Analytic APIs"],"summary":"Retrieves the contents of an analytic group, which is a hierarchical tree structure used to organize analytics.","description":"<p>The contents of a group includes both subgroups and analytics.</p>\r\n<p>In this resource a flight is specified which will enumerate analytics specific to the flight such as \r\n            fleet-specific parameters in addition to the analytics and groups which apply to all flights.</p>","operationId":"Analytic_GetAnalyticGroupContents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the analytic group.","required":true,"type":"integer","format":"int32"},{"name":"analyticGroupId","in":"query","description":"The ID of the group whose contents to retrieve. \r\n            If not specified, the contents of the root group will be returned instead.","required":false,"type":"string"},{"name":"category","in":"query","description":"The category of analytics we are interested in. \"Full\", \"Physical\" or \"Logical\". \r\n            A null value specifies the default analytic set, which represents the full set of values exposed by the backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticGroupContents"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics/query":{"post":{"tags":["Analytic APIs"],"summary":"Queries offsets and values in time-series data for a specified flight and analytic.","description":"<p>\r\n            This can be used to query for multiple analytics at the same time by providing more than one analytic ID\r\n            in the query. Keep in mind that querying for many analytics might cause your request to take a longer \r\n            period of time to complete.\r\n            </p>\r\n<p>Below are some guidelines to consider when using this API.\r\n            <ul><li>Use the \"size\" option to return a specified amount of interpolated samples. </li><li>Not specifying a \"size\" returns all data samples, but you can also use a range of \"start\" and \"end\" \r\n            \t\tvalues to limit the amount of data returned. You can't use this option with the \"unsampledDataMode\" \r\n            \t\toption.</li><li>Use the \"offsets\" option to return data for only a specified set of samples. If an analytic isn't\r\n            \t\tsampled at the offset, its interpolated value is returned. You can't use this option with the\r\n            \t\t\"unsampledDataMode\" option.</li><li>Use the \"offsetType\" option to return values only at sampled locations using the \"sampledValues\" option or at \r\n            \t\ta specific sampling rate using the \"samplingRate\" option. Since these options are more complex and can leave\r\n            \t\tsample locations with no value (i.e. the analytic isn't sampled at that location) or DNE values where the sample\r\n            \t\t\"does not exist\" you can use the \"offsetType\" in conjunction with the \"unsampledDataMode\", the \"unsampledValue\",\r\n            \t\tand/or the \"doesNotExistValue\" options. These are explained in greater detail below.</li><li>If you use the \"unsampledDataMode\" option with \"offsetType\" you can set how unsampled data is treated\r\n            \twith one of the following options:\r\n            \t\t<ul><li>\"leaveBlank\": Leaves any unsampled data locations as blank values. This is the default.</li><li>\"uniquePreviousSample\": Leave values blank except when there is a previous valid sampled value \r\n            \t\t\tthat was skipped over due to the sampling rate. This can be used to circumvent the issue of possibly returning\r\n            \t\t\tall blank values when the configured sampling rate does not coincide with the analytic's sampling rate.</li><li>\"stairStep\": Any unsampled values are filled with the last known sampled value.</li><li>\"linearInterpolation\": This performs a linear interpolation on the data to calculate a value for unsampled locations.</li><li>\"parameterDefault\": Some analytics define their own default for how to treat unsampled data. This option uses that default setting.</li></ul></li><li>Use the \"unsampledValue\" to provide your own value to be used for unsampled values.</li><li>Use the \"doesNotExistValue\" to provide your own value for values that are DNE.</li><li>If an analytic returns a constant value, consider querying for an individual offset to reduce the \r\n            \t\tamount of data returned.</li></ul></p>","operationId":"Analytic_GetQueryResults","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record for which to query data.","required":true,"type":"integer","format":"int32"},{"name":"query","in":"body","description":"The information used to construct a query for which results are returned.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.QueryResult"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics/metadata":{"post":{"tags":["Analytic APIs"],"summary":"Returns the analytic metadata for a flight.","description":"<p>There are two special values always returned by the metadata call.</p>\r\n<ul>\r\n  <li>Shape : [Single, Multiple, Unknown] : describes whether the result will be a single value or an array of values.</li>\r\n  <li>DataType : [Real, Integer, String, Boolean, DateTime, Unknown] : describes the type of data returned.</li>\r\n</ul>\r\n            The list of other properties\r\n            returned are specific to each analytic but may include:\r\n            <ul><li>Basic\\Comments</li><li>Basic\\Description</li><li>Information\\Comments</li><li>Information\\Description</li><li>Information\\UID</li><li>Parameter\\Abbreviation</li><li>Parameter\\Constant</li><li>Parameter\\ID</li><li>Parameter\\Name</li><li>Value\\Is Discrete</li><li>Value\\Operational Rate Max</li><li>Value\\Physical Range Min</li><li>Value\\Units</li><li>Value\\Wraps</li></ul>","operationId":"Analytic_GetMetadata","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record for which to retrieve data.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID (wrapped in double quotes) for which metadata is retrieved. These \r\n            identifiers are typically obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Metadata"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/fleets":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of fleets the user has access to in their security context.","operationId":"Asset_GetFleets","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Fleet"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/fleets/{fleetId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for a fleet on the system.","operationId":"Asset_GetFleet","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"fleetId","in":"path","description":"The unique identifier of the fleet of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Fleet"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A fleet with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/aircraft":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of aircraft the user has access to in their security context.","operationId":"Asset_GetAircraft","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"fleetId","in":"query","description":"If specified, returns only the aircraft belonging to the indicated fleet.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Aircraft"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A fleet with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/aircraft/{aircraftId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for an aircraft on the system.","operationId":"Asset_GetAircraft","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"aircraftId","in":"path","description":"The unique identifier of the aircraft of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Aircraft"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An aircraft with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/flight-phases":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of flight phases.","operationId":"Asset_GetFlightPhases","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.FlightPhase"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/flight-phases/{flightPhaseId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for a flight phase on the system.","operationId":"Asset_GetFlightPhase","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightPhaseId","in":"path","description":"The unique identifier of the flight phase of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.FlightPhase"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A flight phase with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/airports":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of airports that have been visited by the EMS system.","description":"This does not include all of the airports on the planet, just the ones that are significant for the data.","operationId":"Asset_GetAirports","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Airport"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/airports/{airportId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for an airport on the system.","operationId":"Asset_GetAirport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"airportId","in":"path","description":"The unique identifier of the airport of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Airport"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"An airport with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/database-groups":{"get":{"tags":["Database APIs"],"summary":"Returns a database group with a matching ID containing only its immediate children in a hierarchical tree \r\n            used to organize databases.","description":"Each EMS system has its own configured set of databases that are available for querying, such as flights,\r\n            downloads and events. Databases are organized using database groups in a tree structure since EMS\r\n            systems might expose a large number of databases. This API allows you to see one level of the tree\r\n            structure.","operationId":"Database_GetDatabaseGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The unique identifier of the EMS database group whose contents to return. \r\n            If not specified, the contents of the root group are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.DatabaseGroup"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A database group at the specified path could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/field-groups":{"get":{"tags":["Database APIs"],"summary":"Returns a field group with a matching ID containing only its immediate children in a hierarchical tree used \r\n            to organize fields.","description":"Fields are organized using field groups in a tree structure since EMS systems and databases might expose \r\n            a large number of fields. This API allows you to see one level of the tree structure. This API returns only\r\n            a minimal amount of information about the fields returned. To get additional details for an individual, \r\n            field, see the \"field\" resource below.","operationId":"Database_GetFieldGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database containing a field group to return.","required":true,"type":"string"},{"name":"groupId","in":"query","description":"The unique identifier of a field group whose contents to return. If not \r\n            specified, the contents of the root group are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.FieldGroup"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A field group at the specified path could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/fields/{fieldId}":{"get":{"tags":["Database APIs"],"summary":"Returns information about a database field matching the specified ID.","description":"Fields are elements in an EMS system that can be queried for results. For more details on how to query for\r\n            results, see the \"query\" resource below.","operationId":"Database_GetField","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database containing a field to return.","required":true,"type":"string"},{"name":"fieldId","in":"path","description":"The unique identifier of the field whose information to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Field"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A field with the specified ID could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/fields":{"get":{"tags":["Database APIs"],"summary":"Returns all the fields matching the specified search options.","description":"This API will return fields matching your search options. If no fields are found, an empty list is returned.","operationId":"Database_GetFields","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the database containing fields to return.","required":true,"type":"string"},{"name":"search","in":"query","description":"An optional field name search string used to match fields to return.","required":false,"type":"string"},{"name":"fieldGroupId","in":"query","description":"The optional parent field group ID whose contents to search.","required":false,"type":"string"},{"name":"includeProfiles","in":"query","description":"An optional setting to indicate whether to search fields in profiles. By\r\n            default, this is false since including profile fields will significantly increase search time.","required":false,"type":"boolean"},{"name":"maxResults","in":"query","description":"The maximum number of fields to return. This defaults to 200 fields.\r\n            If this is set to 0 all the results will be returned.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Field"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/query":{"post":{"tags":["Database APIs"],"summary":"Queries a database for information, composing the query with information provided in the specified \r\n            query structure.","description":"<p>The advantage of this query route over async-query is its simplicity. This route executes a query and\r\n            returns the results in a single API call. Due to memory and network resource limitations, this route cannot\r\n            be used to fetch large result sets. The route limits the maximum number of result rows that can be returned\r\n            for a single query. If you do not specify a \"top\" limit to the results and the number of rows queried \r\n            exceeds the maximum allowed, the partial result boolean flag included in the response will be set to true.\r\n            If you need to access larger result sets, use the async-query route instead.</p>\r\n<p>Queries can contain reference to one or more fields and can include more complex querying operations \r\n            including: filtering, grouping, and sorting (by value). These operations are specified by the query model \r\n            you provide the API.</p>","operationId":"Database_GetQueryResults","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"query","in":"body","description":"The information used to construct a query for which results are returned.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.QueryResult"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured. May also be returned if the top value specified is greater than the maximum number of rows that can be returned.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query":{"post":{"tags":["Database APIs"],"summary":"Creates a query on a database using the provided query structure and returns an ID that can be used to\r\n            fetch result data through other async-query routes.","description":"<p>The advantage of the async-query routes over the basic query route is their ability to return very large\r\n            result sets, split across many API calls. For queries with small result sets, you may prefer to use the\r\n            basic query route, as it provides the simplicity of executing a query and returning the results in one call.\r\n            </p>\r\n<p>Use the <b>GET v2/ems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}/read/{start}/{end}</b>\r\n            route to read rows from the async-query result set.</p>\r\n<p>Use the <b>DELETE v2/ems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}</b> route to stop\r\n            an async query.</p>\r\n<p>Queries can contain reference to one or more fields and can include more complex querying operations \r\n            including: filtering, grouping, and sorting (by value). These operations are specified by the query model \r\n            you provide the API.</p>","operationId":"Database_StartAsyncQuery","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"query","in":"body","description":"The information used to construct a query.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryInfo"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}/read/{start}/{end}":{"get":{"tags":["Database APIs"],"summary":"Returns rows between (inclusive) the start and end indexes from the async query with the given ID.","description":"You can choose the number of rows returned by specifying an inclusive range of rows with the start and end \r\n            indexes. However, this route also limits the maximum number of result rows that can be reasonably returned \r\n            in a single call. If more values need to be read, simply make multiple calls to this route and use\r\n            the \"hasMoreRows\" flag to determine if the returned rows are the last rows in the query's result set.","operationId":"Database_ReadAsyncQuery","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"queryId","in":"path","description":"The unique identifier of the query created by the API.","required":true,"type":"string"},{"name":"start","in":"path","description":"The zero-based index of the first row to return.","required":true,"type":"integer","format":"int32"},{"name":"end","in":"path","description":"The zero-based index of the last row to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryData"}},"400":{"description":"The specified start and end indexes are either not positive integers, an invalid inclusive range, or exceeded the maximum rows that can be returned).","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A query with the specified ID does not exist or expired.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}":{"delete":{"tags":["Database APIs"],"summary":"Stops the async query with the given ID.","operationId":"Database_StopAsyncQuery","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"queryId","in":"path","description":"The unique identifier of the query created by the API.","required":true,"type":"string"}],"responses":{"204":{"description":"The query was successfully stopped.","schema":{"$ref":"#/definitions/System.Void"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A query with the specified ID does not exist or expired.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/ems-profiles/{profileId}":{"get":{"tags":["Ems Profile APIs"],"summary":"[DEPRECATED] Returns profile results for a specific flight.","description":"This route has been replaced by 'v2/ems-systems/{emsSystemId}/flights/{flightId}/profiles/{profileId}/query' \r\n            route which aligns better with existing API conventions.","operationId":"EmsProfile_GetEmsProfileResults","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving profile information.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the APM profile, e.g. \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\" for \r\n            the library flight safety events profile.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResults"}},"400":{"description":"A profile with the specified ID does not exist, or is not accessible.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The specified flight or profile does not exist or the profile has not processed for this flight.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ems-profiles":{"get":{"tags":["Ems Profile APIs"],"summary":"[DEPRECATED] Returns information about a set of profiles for an EMS system.","description":"This route has been replaced by 'v2/ems-systems/{emsSystemId}/profile-groups' and \r\n            'v2/ems-systems/{emsSystemId}/profiles' routes which align better with \r\n            existing API conventions and offers more features like searching and enumerating the profile group \r\n            hierarchy.","operationId":"EmsProfile_GetEmsProfiles","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfile"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ems-profiles/{profileId}/glossary":{"get":{"tags":["Ems Profile APIs"],"summary":"[DEPRECATED] Returns the file content of an APM profile glossary for a specific profile and version.","description":"<p>\r\n            This route has been replaced by 'v2/ems-systems/{emsSystemId}/profiles/{profileId}/glossary' route which \r\n            aligns better with existing API conventions and offers more features like returning JSON responses with \r\n            a more detailed glossary.\r\n            </p>\r\n<p>\r\n            This API is intended to be used in conjunction with the \r\n            \"ems-systems/{emsSystemId}/flights/{flightId}/ems-profiles/{profileId}\" API used to return APM (Automated \r\n            Parameter Measurement) profile result. Using the data returned from this API you can interpret and \r\n            better understand the results returned in  the profile results.\r\n            </p>","operationId":"EmsProfile_GetEmsProfileGlossary","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the APM profile, e.g. \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\" for \r\n            the library flight safety events profile.","required":true,"type":"string"},{"name":"profileVersionNumber","in":"query","description":"Numbered version of an APM profile. The current version of the profile \r\n            will be used if a version number is not provided.","required":false,"type":"integer","format":"int32"},{"name":"format","in":"query","description":"The format the glossary should be returned in. This defaults to CSV.","required":false,"type":"string","enum":["json","csv"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfileGlossary"}},"400":{"description":"Entered EMS Profile version number is invalid.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"EMS Profile Glossary could not be found on the EMS system.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems":{"get":{"tags":["Ems System APIs"],"summary":"Returns a set of EMS systems the currently logged in user is able to access.","operationId":"EmsSystem_GetEmsSystems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Data.Model.EmsSystem"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ping":{"get":{"tags":["Ems System APIs"],"summary":"Ping an EMS system to verify that the specified system is currently up and running.","operationId":"EmsSystem_Ping","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}":{"get":{"tags":["Ems System APIs"],"summary":"Retrieves information about an EMS system. \r\n            This information can be optionally filtered by specifying a search term. For example, 'time' and 'TimeStamp' will \r\n            return the server time.","operationId":"EmsSystem_GetServerInfo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"search","in":"query","description":"The case-insensitive search used to filter the returned EMS system information.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/System.Object"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/html-documentation/{version}":{"get":{"tags":["Html Documentation APIs"],"summary":"Returns the HTML documentation for the specified version of the API.","description":"The HTML documentation is returned as a \"text/html\" media type.","operationId":"HtmlDocumentation_GetHtmlDocumentation","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","description":"The version of the API for which documentation is returned, e.g. \"v1\", \"v2\".","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The version specified could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/parameter-sets":{"get":{"tags":["Parameter Set APIs"],"summary":"Returns a collection of parameter sets' information.","operationId":"ParameterSet_GetParameterSets","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The optional ID of the parameter set group to return.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetGroup"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A parameter set group with the provided id could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/profiles/{profileId}/query":{"get":{"tags":["Profile APIs"],"summary":"Queries profile results for a specified flight and profile.","description":"<p>This API allows retrieving all of the timepoints, measurements, and events calculated for a \r\n            specific flight with the configured profile.</p>\r\n<p>Use this API in conjunction with  \r\n            \"ems-systems/{emsSystemId}/flights/{flightId}/profiles/{profileId}/glossary\" API so you can interpret and \r\n            better understand the results returned in the results.</p>","operationId":"Profile_GetProfileResults","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving profile information.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the APM profile, e.g. \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\" for \r\n            the library flight safety events profile.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Profile.ProfileResults"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The specified flight or profile does not exist (or is not accessible) or the profile has not processed for this flight.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/profile-groups":{"get":{"tags":["Profile APIs"],"summary":"Returns a profile group with a matching ID containing only its immediate children in a hierarchical tree \r\n            used to organize profiles.","description":"Each EMS system has its own configured set of profiles that are available. Profiles are organized using \r\n            profile groups in a tree structure since EMS systems might expose a large number of profiles. This API \r\n            allows you to see one level of the tree structure.","operationId":"Profile_GetProfileGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The unique identifier of the profile group whose contents to return. If not \r\n            specified, the contents of the root group are returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Profile.ProfileGroup"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A profile group with the specified ID could not be found or does not exist.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/profiles":{"get":{"tags":["Profile APIs"],"summary":"Returns all the profiles matching the specified search options.","description":"<p>\r\n            This API will return profiles matching your search options. If no profiles are found, an empty list is \r\n            returned.\r\n            </p>\r\n<p>\r\n            It is common for a large number of profiles to be defined on an EMS system. To reduce the size and complexity\r\n            of your query, try to specify a parent profile group ID and/or a name to use in the search.\r\n            </p>","operationId":"Profile_GetProfiles","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The optional parent profile group ID whose contents to search.","required":false,"type":"string"},{"name":"search","in":"query","description":"An optional profile name search string used to match profiles to return.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Profile.Profile"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/profiles/{profileId}/glossary":{"get":{"tags":["Profile APIs"],"summary":"Returns a \"glossary\" for a specific profile and version, which helps define the results that can be returned\r\n            in a profile.","description":"<p>\r\n  <strong>Please note:</strong> this API is prototypical in this release and its return values are subject \r\n            to change in an upcoming release. In its current implementation, it is (1) including some unnecessary \r\n            results and (2) not returning all available information.</p>\r\n<p>Use this API in conjunction with  \r\n            \"ems-systems/{emsSystemId}/flights/{flightId}/profiles/{profileId}/query\" API so you can interpret and \r\n            better understand the results returned in the results.</p>","operationId":"Profile_GetProfileGlossary","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the profile whose glossary to return, e.g.\r\n            \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\".","required":true,"type":"string"},{"name":"profileVersion","in":"query","description":"Integer version of the profile to return. If not specified the current version \r\n            of the profile is used by default.","required":false,"type":"integer","format":"int32"},{"name":"format","in":"query","description":"The format of the returned glossary. Defaults to JSON.","required":false,"type":"string","enum":["json","csv"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Profile.ProfileGlossary"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A profile with the specified ID and version could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/trusted":{"get":{"tags":["Tableau APIs"],"summary":"Returns a Tableau \"trusted\" URL that consumers can use to gain access to Tableau content.","description":"<p>The returned \"trusted\" URL allows consumers connect to Tableau using the current user's security\r\n            context. Once loaded in an iframe of a browser, Tableau sets a cookie to initiate the user's session.</p>","operationId":"Tableau_GetTrusted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"site","in":"query","description":"The name of the Tableau site for which to return a trusted URL. If not specified, the \r\n            default site is used.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Tableau.Trusted"}},"400":{"description":"The specified site was not a valid site name configured on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau":{"get":{"tags":["Tableau APIs"],"summary":"Returns information about the configured EMS Online Tableau server.","description":"<p>The return is information about the Tableau server configured in EMS Online.</p>","operationId":"Tableau_GetTableau","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"site","in":"query","description":"The name of the Tableau site for which to return Tableau server information. If not specified, the default site is used.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Tableau.TableauServer"}},"400":{"description":"The specified site was not a valid site name configured on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau sites containing projects, workbooks and views the user can access.","operationId":"Tableau_GetSites","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Site"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/projects":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau projects in the specified site, containing workbooks and views the user can access.","operationId":"Tableau_GetSiteProjects","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"siteId","in":"path","description":"The ID of the site containing the projects to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Project"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"There is either no Tableau server configured or no site with the provided site id.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/workbooks":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau workbooks in the specified site, containing views the user can access.","operationId":"Tableau_GetSiteWorkbooks","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"siteId","in":"path","description":"The ID of the site containing the workbooks to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Workbook"}}},"401":{"description":"You do not have access to the requested resource.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"There is either no Tableau server configured, or no site with the provided site id.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/workbooks/{workbookId}/views":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau views in the specified site and workbook, containing content the user can visualize.","operationId":"Tableau_GetSiteWorkbookViews","consumes":[],"produces":["application/json","text/jso
[...]
