{"swagger":"2.0","info":{"version":"v2","title":"EMS API v2","description":"The second version of the REST-based API for accessing EMS data"},"host":"emsapibeta.ausdig.com:443","basePath":"/api","schemes":["https"],"paths":{"/v2/ems-systems/{emsSystemId}/analytics":{"get":{"tags":["Analytic APIs"],"summary":"Searches for analytics by name.","operationId":"Analytic_SearchForAnalytics","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"text","in":"query","description":"The search terms used to find a list of analytics by name.","required":true,"type":"string"},{"name":"group","in":"query","description":"An optional group ID to specify where to limit the search. If not specified, all groups \r\n            are searched.","required":false,"type":"string"},{"name":"maxResults","in":"query","description":"The optional maximum number of matching results to return.","required":false,"type":"integer","format":"int32"},{"name":"category","in":"query","description":"The category of analytics to search, including \"Full\", \"Physical\" or \"Logical\". A \r\n            null value specifies the default analytic set, which represents the full set of values exposed by the \r\n            backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}}},"deprecated":false},"post":{"tags":["Analytic APIs"],"summary":"Retrieves metadata information associated with an analytic such as a description or units.","operationId":"Analytic_GetAnalyticInfo","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID for which data is retrieved. These identifiers are typically \r\n            obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics":{"get":{"tags":["Analytic APIs"],"summary":"Searches for analytics by name for a specific flight.","operationId":"Analytic_SearchForAnalytics","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when searching analytics.","required":true,"type":"integer","format":"int32"},{"name":"text","in":"query","description":"The search terms used to find a list of analytics by name.","required":true,"type":"string"},{"name":"group","in":"query","description":"An optional group ID to specify where to limit the search. If not specified, all groups are \r\n            searched.","required":false,"type":"string"},{"name":"maxResults","in":"query","description":"The optional maximum number of matching results to return.","required":false,"type":"integer","format":"int32"},{"name":"category","in":"query","description":"The category of analytics to search, including \"Full\", \"Physical\" or \"Logical\". A \r\n            null value specifies the default analytic set, which represents the full set of values exposed by the \r\n            backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}}},"deprecated":false},"post":{"tags":["Analytic APIs"],"summary":"Retrieves metadata information associated with an analytic such as a description or units.","operationId":"Analytic_GetAnalyticInfo","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the analytic information.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID for which data is retrieved. These identifiers are typically \r\n            obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/analytic-groups":{"get":{"tags":["Analytic APIs"],"summary":"Retrieves the contents of an analytic group, which is a hierarchical tree structure used to organize analytics.","description":"The contents of a group includes both subgroups and analytics.","operationId":"Analytic_GetAnalyticGroupContents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"analyticGroupId","in":"query","description":"The ID of the group whose contents to retrieve. \r\n            If not specified, the contents of the root group will be returned.","required":false,"type":"string"},{"name":"category","in":"query","description":"The category of analytics we are interested in. \"Full\", \"Physical\" or \"Logical\". \r\n            A null value specifies the default analytic set, which represents the full set of values exposed by the backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticGroupContents"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytic-groups":{"get":{"tags":["Analytic APIs"],"summary":"Retrieves the contents of an analytic group, which is a hierarchical tree structure used to organize analytics.","description":"<p>The contents of a group includes both subgroups and analytics.</p>\r\n<p>In this resource a flight is specified which will enumerate analytics specific to the flight such as \r\n            fleet-specific parameters in addition to the analytics and groups which apply to all flights.</p>","operationId":"Analytic_GetAnalyticGroupContents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the analytic group.","required":true,"type":"integer","format":"int32"},{"name":"analyticGroupId","in":"query","description":"The ID of the group whose contents to retrieve. \r\n            If not specified, the contents of the root group will be returned instead.","required":false,"type":"string"},{"name":"category","in":"query","description":"The category of analytics we are interested in. \"Full\", \"Physical\" or \"Logical\". \r\n            A null value specifies the default analytic set, which represents the full set of values exposed by the backing EMS system.","required":false,"type":"string","enum":["full","physical","logical"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticGroupContents"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics/query":{"post":{"tags":["Analytic APIs"],"summary":"Queries offsets and values in time-series data for a specified flight and analytic.","description":"<p>\r\n            This can be used to query for multiple analytics at the same time by providing more than one analytic ID\r\n            in the query. Keep in mind that querying for many analytics might cause your request to take a longer \r\n            period of time to complete.\r\n            </p>\r\n<p>Below are some guidelines to consider when using this API.\r\n            <ul><li>Use the \"size\" option to return a specified amount of interpolated samples. </li><li>Not specifying a \"size\" returns all data samples, but you can also use a range of \"start\" and \"end\" \r\n            \t\tvalues to limit the amount of data returned. You can't use this option with the \"unsampledDataMode\" \r\n            \t\toption.</li><li>Use the \"offsets\" option to return data for only a specified set of samples. If an analytic isn't\r\n            \t\tsampled at the offset, its interpolated value is returned. You can't use this option with the\r\n            \t\t\"unsampledDataMode\" option.</li><li>Use the \"offsetType\" option to return values only at sampled locations using the \"sampledValues\" option or at \r\n            \t\ta specific sampling rate using the \"samplingRate\" option. Since these options are more complex and can leave\r\n            \t\tsample locations with no value (i.e. the analytic isn't sampled at that location) or DNE values where the sample\r\n            \t\t\"does not exist\" you can use the \"offsetType\" in conjunction with the \"unsampledDataMode\", the \"unsampledValue\",\r\n            \t\tand/or the \"doesNotExistValue\" options. These are explained in greater detail below.</li><li>If you use the \"unsampledDataMode\" option with \"offsetType\" you can set how unsampled data is treated\r\n            \twith one of the following options:\r\n            \t\t<ul><li>\"leaveBlank\": Leaves any unsampled data locations as blank values. This is the default.</li><li>\"uniquePreviousSample\": Leave values blank except when there is a previous valid sampled value \r\n            \t\t\tthat was skipped over due to the sampling rate. This can be used to circumvent the issue of possibly returning\r\n            \t\t\tall blank values when the configured sampling rate does not coincide with the analytic's sampling rate.</li><li>\"stairStep\": Any unsampled values are filled with the last known sampled value.</li><li>\"linearInterpolation\": This performs a linear interpolation on the data to calculate a value for unsampled locations.</li><li>\"parameterDefault\": Some analytics define their own default for how to treat unsampled data. This option uses that default setting.</li></ul></li><li>Use the \"unsampledValue\" to provide your own value to be used for unsampled values.</li><li>Use the \"doesNotExistValue\" to provide your own value for values that are DNE.</li><li>If an analytic returns a constant value, consider querying for an individual offset to reduce the \r\n            \t\tamount of data returned.</li></ul></p>","operationId":"Analytic_GetQueryResults","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record for which to query data.","required":true,"type":"integer","format":"int32"},{"name":"query","in":"body","description":"The information used to construct a query for which results are returned.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.QueryResult"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/analytics/metadata":{"post":{"tags":["Analytic APIs"],"summary":"Returns the analytic metadata for a flight.","description":"<p>There are two special values always returned by the metadata call.</p>\r\n<ul>\r\n  <li>Shape : [Single, Multiple, Unknown] : describes whether the result will be a single value or an array of values.</li>\r\n  <li>DataType : [Real, Integer, String, Boolean, DateTime, Unknown] : describes the type of data returned.</li>\r\n</ul>\r\n            The list of other properties\r\n            returned are specific to each analytic but may include:\r\n            <ul><li>Basic\\Comments</li><li>Basic\\Description</li><li>Information\\Comments</li><li>Information\\Description</li><li>Information\\UID</li><li>Parameter\\Abbreviation</li><li>Parameter\\Constant</li><li>Parameter\\ID</li><li>Parameter\\Name</li><li>Value\\Is Discrete</li><li>Value\\Operational Rate Max</li><li>Value\\Physical Range Min</li><li>Value\\Units</li><li>Value\\Wraps</li></ul>","operationId":"Analytic_GetMetadata","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record for which to retrieve data.","required":true,"type":"integer","format":"int32"},{"name":"analyticId","in":"body","description":"The analytic ID (wrapped in double quotes) for which metadata is retrieved. These \r\n            identifiers are typically obtained from nodes in an analytic group tree.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Metadata"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/fleets":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of fleets the user has access to in their security context.","operationId":"Asset_GetFleets","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Fleet"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/fleets/{fleetId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for a fleet on the system.","operationId":"Asset_GetFleet","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"fleetId","in":"path","description":"The unique identifier of the fleet of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Fleet"}},"404":{"description":"A fleet with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/aircraft":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of aircraft the user has access to in their security context.","operationId":"Asset_GetAircraft","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"fleetId","in":"query","description":"If specified, returns only the aircraft belonging to the indicated fleet.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Aircraft"}}},"404":{"description":"A fleet with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/aircraft/{aircraftId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for an aircraft on the system.","operationId":"Asset_GetAircraft","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"aircraftId","in":"path","description":"The unique identifier of the aircraft of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Aircraft"}},"404":{"description":"An aircraft with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/flight-phases":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of flight phases.","operationId":"Asset_GetFlightPhases","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.FlightPhase"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/flight-phases/{flightPhaseId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for a flight phase on the system.","operationId":"Asset_GetFlightPhase","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightPhaseId","in":"path","description":"The unique identifier of the flight phase of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.FlightPhase"}},"404":{"description":"A flight phase with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/airports":{"get":{"tags":["Asset APIs"],"summary":"Returns the list of airports that have been visited by the EMS system.","description":"This does not include all of the airports on the planet, just the ones that are significant for the data.","operationId":"Asset_GetAirports","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Airport"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/assets/airports/{airportId}":{"get":{"tags":["Asset APIs"],"summary":"Returns information for an airport on the system.","operationId":"Asset_GetAirport","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"airportId","in":"path","description":"The unique identifier of the airport of interest.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Asset.Airport"}},"404":{"description":"An airport with the specified ID could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/database-groups":{"get":{"tags":["Database APIs"],"summary":"Returns a database group with a matching ID containing only its immediate children in a hierarchical tree \r\n            used to organize databases.","description":"Each EMS system has its own configured set of databases that are available for querying, such as flights,\r\n            downloads and events. Databases are organized using database groups in a tree structure since EMS\r\n            systems might expose a large number of databases. This API allows you to see one level of the tree\r\n            structure.","operationId":"Database_GetDatabaseGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The unique identifier of the EMS database group whose contents to return. \r\n            If not specified, the contents of the root group is returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.DatabaseGroup"}},"404":{"description":"A database group at the specified path could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/field-groups":{"get":{"tags":["Database APIs"],"summary":"Returns a field group with a matching ID containing only its immediate children in a hierarchical tree used \r\n            to organize fields.","description":"Fields are organized using field groups in a tree structure since EMS systems and databases might expose \r\n            a large number of fields. This API allows you to see one level of the tree structure. This API returns only\r\n            a minimal amount of information about the fields returned. For more details, see the field resource below.","operationId":"Database_GetFieldGroup","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database containing a field group to return.","required":true,"type":"string"},{"name":"groupId","in":"query","description":"The unique identifier of a field group whose contents to return. If not \r\n            specified, the contents of the root group is returned.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.FieldGroup"}},"404":{"description":"A field group at the specified path could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/fields/{fieldId}":{"get":{"tags":["Database APIs"],"summary":"Returns information about a database field matching the specified ID.","description":"Fields are elements in an EMS system that can be queried for results. For more details, see the query \r\n            resource below.","operationId":"Database_GetField","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database containing a field to return.","required":true,"type":"string"},{"name":"fieldId","in":"path","description":"The unique identifier of the field whose information to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Field"}},"404":{"description":"A field with the specified ID could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/fields":{"get":{"tags":["Database APIs"],"summary":"Returns all the fields whose names contain the text from the search.","description":"Fields are elements in an EMS system that can be queried for results. For more details, see the query \r\n            resource below.","operationId":"Database_GetFields","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database containing a field or fields to return.","required":true,"type":"string"},{"name":"name","in":"query","description":"The optional field name search string used to find any fields by name.","required":false,"type":"string"},{"name":"fieldGroupId","in":"query","description":"The optional fieldGroupId to restrict the search to fields beneath the specified group.","required":false,"type":"string"},{"name":"includeProfiles","in":"query","description":"An optional setting, if set to true the search will include fields contained \r\n            within profiles. This defaults to false. Including profile fields will significantly increase the execution time.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Field"}}},"404":{"description":"A field containing the provided search text could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/query":{"post":{"tags":["Database APIs"],"summary":"Queries a database for information, composing the query with information provided in the specified \r\n            query structure.","description":"<p>The advantage of this query route over async-query is its simplicity. This route executes a query and\r\n            returns the results in a single API call. Due to memory and network resource limitations, this route cannot\r\n            be used to fetch large result sets. The route limits the maximum number of result rows that can be returned\r\n            for a single query. If you do not specify a \"top\" limit to the results and the number of rows queried \r\n            exceeds the maximum allowed, the partial result boolean flag included in the response will be set to true.\r\n            If you need to access larger result sets, use the async-query route instead.</p>\r\n<p>Queries can contain reference to one or more fields and can include more complex querying operations \r\n            including: filtering, grouping, and sorting (by value). These operations are specified by the query model \r\n            you provide the API.</p>","operationId":"Database_GetQueryResults","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"query","in":"body","description":"The information used to construct a query for which results are returned.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.QueryResult"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured. May also be returned if the top value specified is greater than the maximum number of rows that can be returned.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query":{"post":{"tags":["Database APIs"],"summary":"Creates a query on a database using the provided query structure and returns an ID that can be used to\r\n            fetch result data through other async-query routes.","description":"<p>The advantage of the async-query routes over the basic query route is their ability to return very large\r\n            result sets, split across many API calls. For queries with small result sets, you may prefer to use the\r\n            basic query route, as it provides the simplicity of executing a query and returning the results in one call.\r\n            </p>\r\n<p>Use the <b>GET v2/ems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}/read/{start}/{end}</b>\r\n            route to read rows from the async-query result set.</p>\r\n<p>Use the <b>DELETE v2/ems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}</b> route to stop\r\n            an async query.</p>\r\n<p>Queries can contain reference to one or more fields and can include more complex querying operations \r\n            including: filtering, grouping, and sorting (by value). These operations are specified by the query model \r\n            you provide the API.</p>","operationId":"Database_StartAsyncQuery","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"query","in":"body","description":"The information used to construct a query.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Query"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryInfo"}},"400":{"description":"If the specified query structure is invalid or incorrectly configured.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}/read/{start}/{end}":{"get":{"tags":["Database APIs"],"summary":"Returns rows between (inclusive) the start and end indexes from the async query with the given ID.","description":"You can choose the number of rows returned by specifying an inclusive range of rows with the start and end \r\n            indexes. However, this route also limits the maximum number of result rows that can be reasonably returned \r\n            in a single call. If more values need to be read, simply make multiple calls to this route.","operationId":"Database_ReadAsyncQuery","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"queryId","in":"path","description":"The unique identifier of the query created by the API.","required":true,"type":"string"},{"name":"start","in":"path","description":"The zero-based index of the first row to return.","required":true,"type":"integer","format":"int32"},{"name":"end","in":"path","description":"The zero-based index of the last row to return.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryData"}},"400":{"description":"The specified start and end indexes are either not positive integers, an invalid inclusive range, or exceeded the maximum rows that can be returned).","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A query with the specified ID does not exist or expired.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/databases/{databaseId}/async-query/{queryId}":{"delete":{"tags":["Database APIs"],"summary":"Stops the async query with the given ID.","operationId":"Database_StopAsyncQuery","consumes":[],"produces":[],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"databaseId","in":"path","description":"The unique identifier of the EMS database to query.","required":true,"type":"string"},{"name":"queryId","in":"path","description":"The unique identifier of the query created by the API.","required":true,"type":"string"}],"responses":{"204":{"description":"The query was successfully stopped.","schema":{"$ref":"#/definitions/System.Void"}},"404":{"description":"A query with the specified ID does not exist or expired.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/ems-profiles/{profileId}":{"get":{"tags":["Ems Profile APIs"],"summary":"Returns profile results for a specific flight.","description":"An APM (Automated Parameter Measurement) profile is a collection of configured analytics and contains \r\n            timepoints, measurements, and events. Profiles usually focus on one area of study. For example, there is a \r\n            profile devoted to flight safety. This API allows retrieving all of the timepoints, measurements, and \r\n            events calculated for a specific flight with the configured profile.","operationId":"EmsProfile_GetEmsProfileResults","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving profile information.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the APM profile, e.g. \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\" for \r\n            the library flight safety events profile.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResults"}},"400":{"description":"A profile with the specified ID does not exist, or is not accessible.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The specified flight or profile does not exist or the profile has not processed for this flight.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ems-profiles":{"get":{"tags":["Ems Profile APIs"],"summary":"Returns information about a set of profiles for an EMS system.","description":"An APM (Automated Parameter Measurement) profile is a collection of configured analytics, and contains \r\n            timepoints, measurements, and events. Profiles usually focus on one area of study. For example, there is a \r\n            profile devoted to flight safety.","operationId":"EmsProfile_GetEmsProfiles","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfile"}}},"500":{"description":"The list of profiles could not be retrieved due to an error on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ems-profiles/{profileId}/glossary":{"get":{"tags":["Ems Profile APIs"],"summary":"Returns the file content of an APM profile glossary for a specific profile and version.","description":"This API is intended to be used in conjunction with the \r\n            \"ems-systems/{emsSystemId}/flights/{flightId}/ems-profiles/{profileId}\" API used to return APM (Automated \r\n            Parameter Measurement) profile result. Using the data returned from this API you can interpret and \r\n            better understand the results returned in  the profile results.","operationId":"EmsProfile_GetEmsProfileGlossary","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"profileId","in":"path","description":"The unique identifier of the APM profile, e.g. \"A7483C44-9DB9-4A44-9EB5-F67681EE52B0\" for \r\n            the library flight safety events profile.","required":true,"type":"string"},{"name":"profileVersionNumber","in":"query","description":"Numbered version of an APM profile. The current version of the profile \r\n            will be used if a version number is not provided.","required":false,"type":"integer","format":"int32"},{"name":"format","in":"query","description":"The format the glossary should be returned in. This defaults to CSV.","required":false,"type":"string","enum":["json","csv"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfileGlossary"}},"400":{"description":"Entered EMS Profile version number is invalid.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"EMS Profile Glossary could not be found on the EMS system.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"EMS Profile Glossary could not be retrieved due to an error on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems":{"get":{"tags":["Ems System APIs"],"summary":"Returns a set of EMS systems the currently logged in user is able to access.","operationId":"EmsSystem_GetEmsSystems","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Data.Model.EmsSystem"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/ping":{"get":{"tags":["Ems System APIs"],"summary":"Ping an EMS system to verify that the specified system is currently up and running.","operationId":"EmsSystem_Ping","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}":{"get":{"tags":["Ems System APIs"],"summary":"Retrieves information about an EMS system. \r\n            This information can be optionally filtered by specifying a search term. For example, 'time' and 'TimeStamp' will \r\n            return the server time.","operationId":"EmsSystem_GetServerInfo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"search","in":"query","description":"The case-insensitive search used to filter the returned EMS system information.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/System.Object"}}}},"deprecated":false}},"/v2/html-documentation/{version}":{"get":{"tags":["Html Documentation APIs"],"summary":"Returns the HTML documentation for the specified version of the API.","description":"The HTML documentation is returned as a \"text/html\" media type.","operationId":"HtmlDocumentation_GetHtmlDocumentation","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"version","in":"path","description":"The version of the API for which documentation is returned, e.g. \"v1\", \"v2\".","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"404":{"description":"The version specified could not be found.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/parameter-sets":{"get":{"tags":["Parameter Set APIs"],"summary":"Returns a collection of parameter sets' information.","operationId":"ParameterSet_GetParameterSets","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"groupId","in":"query","description":"The optional ID of the parameter set group to return.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetGroup"}},"404":{"description":"A parameter set group with the provided id could not be found","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/trusted":{"get":{"tags":["Tableau APIs"],"summary":"Returns a Tableau \"trusted\" URL that consumers can use to gain access to Tableau content.","description":"<p>The returned \"trusted\" URL allows consumers connect to Tableau using the current user's security\r\n            context. Once loaded in an iframe of a browser, Tableau sets a cookie to initiate the user's session.</p>","operationId":"Tableau_GetTrusted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"site","in":"query","description":"The name of the Tableau site for which to return a trusted URL. If not specified, the \r\n            default site is used.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Tableau.Trusted"}},"400":{"description":"The specified site was not a valid site name configured on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau":{"get":{"tags":["Tableau APIs"],"summary":"Returns information about the configured EMS Online Tableau server.","description":"<p>The return is information about the Tableau server configured in EMS Online.</p>","operationId":"Tableau_GetTableau","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"site","in":"query","description":"The name of the Tableau site for which to return Tableau server information. If not specified, the default site is used.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Tableau.TableauServer"}},"400":{"description":"The specified site was not a valid site name configured on the server.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau sites containing projects, workbooks and views the user can access.","operationId":"Tableau_GetSites","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Site"}}},"404":{"description":"A Tableau server has not been configured or is not included in the EMS Online installation.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/projects":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau projects in the specified site, containing workbooks and views the user can access.","operationId":"Tableau_GetSiteProjects","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"siteId","in":"path","description":"The ID of the site containing the projects to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Project"}}},"404":{"description":"There is either no Tableau server configured or no site with the provided site id.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/workbooks":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau workbooks in the specified site, containing views the user can access.","operationId":"Tableau_GetSiteWorkbooks","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"siteId","in":"path","description":"The ID of the site containing the workbooks to return.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Workbook"}}},"404":{"description":"There is either no Tableau server configured, or no site with the provided site id.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/tableau/sites/{siteId}/workbooks/{workbookId}/views":{"get":{"tags":["Tableau APIs"],"summary":"Returns the Tableau views in the specified site and workbook, containing content the user can visualize.","operationId":"Tableau_GetSiteWorkbookViews","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"siteId","in":"path","description":"The ID of the site containing the view.","required":true,"type":"string"},{"name":"workbookId","in":"path","description":"The ID of the workbook containing the view.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.View"}}},"404":{"description":"There is either no Tableau server configured, no site with the provided site id, or no workbook with the provided workbook id.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"Information could not be returned, likely due to a server-side configuration issue.","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/kml-trajectories/{trajectoryId}":{"get":{"tags":["Trajectory APIs"],"summary":"Returns trajectory content in \"KML\" format for a specific flight.","operationId":"Trajectory_GetKmlForFlight","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the trajectory KML.","required":true,"type":"integer","format":"int32"},{"name":"trajectoryId","in":"path","description":"Identifier specifying the type of trajectory to provide.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/System.Object"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/flights/{flightId}/trajectories":{"get":{"tags":["Trajectory APIs"],"summary":"Returns a trajectory path for a specific flight.","operationId":"Trajectory_GenerateTrajectoryForFlight","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"},{"name":"flightId","in":"path","description":"The integer ID of the flight record to use when retrieving the trajectory data.","required":true,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"The start offset in the data, in seconds from the start of the data. If not specified, the beginning of the flight will be used.","required":false,"type":"number","format":"double"},{"name":"end","in":"query","description":"The end offset in the data, in seconds from the start of the data. If not specified, the end of the flight will be used.","required":false,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.TrajectoryValueArray"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/trajectory-configurations":{"get":{"tags":["Trajectory APIs"],"summary":"Returns an array of KML trajectory options.","operationId":"Trajectory_GetTrajectoryConfigurations","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The unique identifier of the system containing the EMS data.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.TrajectoryConfiguration"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads":{"post":{"tags":["Transfer APIs"],"summary":"Starts a new upload.","operationId":"Transfer_StartAsync","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS system on which to start a new upload.","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","description":"Information about the upload to start.","required":true,"schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadParameters"}},"500":{"description":"If the specified EMS system isn't configured to support uploads","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/{transferId}/{first}/{last}":{"put":{"tags":["Transfer APIs"],"summary":"Uploads a chunk of a file. This will fail if any chunks have been skipped in the specified file.","description":"The practical limit for a single chunk is less than 4MB or so, dependent on the web server's configuration.\r\n            If you receive 500 responses, try smaller chunk sizes.","operationId":"Transfer_ChunkAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS system to which the client is uploading.","required":true,"type":"integer","format":"int32"},{"name":"transferId","in":"path","description":"The ID of the upload, returned originally by the upload start call.","required":true,"type":"string"},{"name":"first","in":"path","description":"The byte index of the first byte that will be uploaded.","required":true,"type":"integer","format":"int64"},{"name":"last","in":"path","description":"The byte index of the last byte that will be uploaded.","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadResult"}},"400":{"description":"The upload has already completed, or the uploaded data didn't match the state of the upload","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The upload with the specified ID doesn't exist or was not valid","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"500":{"description":"The uploaded chunk was too large","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/{transferId}":{"get":{"tags":["Transfer APIs"],"summary":"Gets the status of an upload in progress.","operationId":"Transfer_Status","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS system to which the client is uploading.","required":true,"type":"integer","format":"int32"},{"name":"transferId","in":"path","description":"The ID of the upload, returned originally by the upload start call.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadStatus"}},"404":{"description":"The upload with the specified ID doesn't exist or was not valid","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/{transferId}/finish":{"get":{"tags":["Transfer APIs"],"summary":"Completes an existing upload in progress.","description":"<p>This will examine everything that's been transferred to make sure that it is intact, then\r\n            give a status report in response.</p>\r\n<p>The use of this call is not required unless the file is being streamed (i.e. there was no\r\n            totalSize passed in the beginning of the file). In that case, this call is necessary to\r\n            tell the server that all data are received.</p>","operationId":"Transfer_FinishAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS system to which the client is uploading.","required":true,"type":"integer","format":"int32"},{"name":"transferId","in":"path","description":"The ID of the upload, returned originally by the upload start call.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadResult"}},"400":{"description":"The upload has already completed","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The upload with the specified ID doesn't exist or was not valid","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/{transferId}/cancel":{"get":{"tags":["Transfer APIs"],"summary":"Cancels an existing upload in progress.","description":"If successful, this call will delete the file in progress and set the associated database record to canceled.","operationId":"Transfer_CancelAsync","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS system to which the client is uploading.","required":true,"type":"integer","format":"int32"},{"name":"transferId","in":"path","description":"The ID of the upload, returned originally by the upload start call.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadResult"}},"400":{"description":"The upload has already completed","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}},"404":{"description":"The upload with the specified ID doesn't exist or was not valid","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.Model.Error"}}},"deprecated":false}},"/v2/uploads":{"get":{"tags":["Transfer APIs"],"summary":"Get a list of upload records from the server.","description":"For administrative users, this will return a list of all uploads; otherwise only the uploads associated\r\n            to the current user will be returned.","operationId":"Transfer_GetUploads","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"maxEntries","in":"query","description":"The maximum number of entries to return; this is capped at 50, and\r\n            50 will be used if it's not specified.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadRecord"}}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/processing-status/{uploadId}":{"get":{"tags":["Transfer APIs"],"summary":"Gets the EMS processing status for a single upload.","description":"When using this route, make sure to use EMS system and upload IDs that match. Results for IDs that do not \r\n            exist will still return valid results, but will indicate that the uploading processing is incomplete, \r\n            which, while true, may be misleading.","operationId":"Transfer_GetUploadProcessingStatus","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS server to query for the specified uploads.","required":true,"type":"integer","format":"int32"},{"name":"uploadId","in":"path","description":"The ID of the upload for which to return status information.","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadProcessingStatus"}}},"deprecated":false}},"/v2/ems-systems/{emsSystemId}/uploads/processing-status":{"post":{"tags":["Transfer APIs"],"summary":"Gets the EMS processing status for a set of uploads.","description":"When using this route, make sure to use EMS system and upload IDs that match. Results for IDs that do not \r\n            exist will still return valid results, but will indicate that the uploading processing is incomplete, \r\n            which, while true, may be misleading.","operationId":"Transfer_GetUploadProcessingStatus","consumes":["application/json","text/json"],"produces":["application/json","text/json"],"parameters":[{"name":"emsSystemId","in":"path","description":"The ID of the EMS server to query for the specified uploads.","required":true,"type":"integer","format":"int32"},{"name":"ids","in":"body","description":"The list of IDs of the upload for which to return status information.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadProcessingStatus"}}}},"deprecated":false}}},"definitions":{"Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticId":{"description":"Provides an identifier for an individual analytic.","required":["id"],"type":"object","properties":{"id":{"description":"The unique string identifier of the analytic.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.AnalyticInfo":{"description":"Encapsulates information about an analytic.","type":"object","properties":{"id":{"description":"The identifier for the analytic.","type":"string"},"name":{"description":"The name of the analytic.","type":"string"},"description":{"description":"The description of the analytic.","type":"string"},"units":{"description":"The units of the analytic.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.AnalyticGroupContents":{"description":"Represents the contents of an analytic group.","type":"object","properties":{"groups":{"description":"An in-order listing of the groups contained in the specified group.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticGroup"}},"analytics":{"description":"An in-order listing of the analytics contained in the specified group.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo"}}}},"Adi.Ems.Web.Api.V2.Dto.AnalyticGroup":{"description":"Represents a group in the exposed tree of analytics for an EMS installation.","type":"object","properties":{"id":{"description":"The identifier of the group.","type":"string"},"name":{"description":"The name of the group.","type":"string"},"description":{"description":"The description of the group.","type":"string"}}},"Adi.Ems.Web.Api.V2.Model.Analytic.Query":{"description":"Represents the options used to make up an analytic query.","required":["select"],"type":"object","properties":{"select":{"description":"An array specifying the analytics to select and return in query results. Use null or an empty array to\r\n            return only offset values","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticSelect"}},"start":{"format":"double","description":"The optional start offset in the data, in seconds from the start of the data. If not specified, the \r\n            beginning of the available data is used","type":"number"},"end":{"format":"double","description":"The optional end offset in the data, in seconds from the start of the data. If not specified, the \r\n            end of the available data is used","type":"number"},"offsets":{"description":"The optional set of offsets to return in query results. Use as an alternative to specifying a range of \r\n            values using start and end","type":"array","items":{"format":"double","type":"number"}},"size":{"format":"int32","description":"The optional limit that specifies the total number of offsets and values to return in query results","type":"integer"},"unsampledDataMode":{"description":"This determines how to treat data values for offsets that are not sampled. If left unset this defaults to 'leaveBlank'.","enum":["leaveBlank","uniquePreviousSample","stairStep","linearInterpolation","parameterDefault"],"type":"string"},"unsampledValue":{"description":"This optional parameter replaces any unsampled (blank) values with a constant value. This defaults to an empty string.","type":"string"},"doesNotExistValue":{"description":"This optional parameter replaces any values that come back as DNE (does not exist) with a constant value. This defaults to \"DNE\".","type":"string"},"offsetType":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.OffsetType","description":"This defines the way in which the offsets are determined. This is required if Offsets or Size has not been set."}}},"Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticSelect":{"description":"Represents an individual analytic that can be selected in a query.","required":["analyticId"],"type":"object","properties":{"analyticId":{"description":"The unique string identifier of the analytic to select in a query","type":"string"}}},"Adi.Ems.Web.Api.V2.Model.Analytic.OffsetType":{"description":"Class for determining which offsets to sample an analytic at.","required":["type"],"type":"object","properties":{"type":{"description":"Determines the way to retrieve samples for an analytic query.","enum":["sampledValues","fixedRate"],"type":"string"},"samplingRate":{"format":"double","description":"Offsets are calculated using this sampling rate when using 'FixedRate' sampling type.","type":"number"}}},"Adi.Ems.Web.Api.V2.Model.Analytic.QueryResult":{"description":"Represents the time-series data result of an analytic query.","required":["offsets","results"],"type":"object","properties":{"offsets":{"description":"An array of query result offsets, each representing seconds from the start of the data","type":"array","items":{"format":"double","type":"number"}},"results":{"description":"An array of analytic result values for each of the analytics selected in the query containing values for\r\n            each offset","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticResult"}}}},"Adi.Ems.Web.Api.V2.Model.Analytic.AnalyticResult":{"description":"Represents the results of a query of an individual analytic, housing the values for the offsets contained\r\n            in the related query result.","required":["analyticId","values"],"type":"object","properties":{"analyticId":{"description":"The unique string identifier of the analytic queried","type":"string"},"values":{"description":"The array of analytic values corresponding to offsets specified in the query result","type":"array","items":{"$ref":"#/definitions/System.Object"}},"error":{"description":"Any error that may have occurred when retrieving or attempting to retrieve the values for the analytic.\r\n            This field is only available if there is an error.","type":"string"}}},"System.Object":{"type":"object","properties":{}},"Adi.Ems.Web.Api.Model.Error":{"required":["message","messageDetail","unexpected"],"type":"object","properties":{"message":{"type":"string"},"messageDetail":{"type":"string"},"unexpected":{"type":"boolean"}}},"Adi.Ems.Web.Api.V2.Dto.Metadata":{"description":"Encapsulates metadata information for a parameter or analytic in EMS.","type":"object","properties":{"values":{"description":"The metadata for the object.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.MetadataItem"}}}},"Adi.Ems.Web.Api.V2.Dto.MetadataItem":{"description":"Encapsulates a single piece of metadata.","type":"object","properties":{"key":{"description":"The metadata key.","type":"string"},"value":{"$ref":"#/definitions/System.Object","description":"The metadata value."}}},"Adi.Ems.Web.Api.V2.Dto.Asset.Fleet":{"description":"Represents a 'Fleet' in the EMS system.\r\n            A fleet in this sense is a group of aircraft using the same configuration.\r\n            There may be several fleets representing a particular model of aircraft, each showing a specific configuration\r\n            of the airframe.","type":"object","properties":{"id":{"format":"int32","description":"The identifier of the fleet within the system.","type":"integer"},"description":{"description":"The description for this fleet.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Asset.Aircraft":{"description":"An aircraft in the system refers to an airframe with a particular tail number.","type":"object","properties":{"id":{"format":"int32","description":"The identifier of the aircraft within the system.","type":"integer"},"description":{"description":"The description for this aircraft.","type":"string"},"fleetIds":{"description":"Each aircraft can be mapped to 0-N fleets in the system. \r\n            Because a fleet represents a configuration for a airframe and those configurations can change over time,\r\n            it stands to reason that each aircraft can be mapped to more than one of them.","type":"array","items":{"format":"int32","type":"integer"}}}},"Adi.Ems.Web.Api.V2.Dto.Asset.FlightPhase":{"description":"A flight phase is a coarse division of a flight into sections, such as takeoff, climb and enroute.\r\n            The flight phases are used as inputs into some analytics.","type":"object","properties":{"id":{"format":"int32","description":"The identifier of the flight phase within the system.","type":"integer"},"description":{"description":"The description for this phase of flight.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Asset.Airport":{"description":"Encapsulates the definition of an airport.","type":"object","properties":{"id":{"format":"int32","description":"The identifier of the airport within the system.","type":"integer"},"codeIcao":{"description":"The ICAO code associated with this airport.","type":"string"},"codeFaa":{"description":"The FAA / Regional code associated with this airport.","type":"string"},"codePreferred":{"description":"The preferred code to use for display. This is typically either the ICAO or FAA code, but can be overridden by the user.","type":"string"},"name":{"description":"The name of the airport.","type":"string"},"city":{"description":"The city of the airport.","type":"string"},"country":{"description":"The country of the airport.","type":"string"},"latitude":{"format":"double","description":"The latitude of the airport.","type":"number"},"longitude":{"format":"double","description":"The longitude of the airport.","type":"number"},"elevation":{"format":"double","description":"The elevation of the airport, in feet.","type":"number"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.DatabaseGroup":{"description":"Represents a folder in the database tree of an EMS installation.","required":["id","name"],"type":"object","properties":{"id":{"description":"The unique string identifier for the database group","type":"string"},"name":{"description":"The display name for the database group","type":"string"},"groups":{"description":"An ordered listing of child database groups contained in this group","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.DatabaseGroup"}},"databases":{"description":"An ordered listing of child databases contained in this group","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Database"}}}},"Adi.Ems.Web.Api.V2.Dto.Schema.Database":{"description":"Represents a database type exposed by an EMS installation.","required":["id","pluralName","singularName"],"type":"object","properties":{"id":{"description":"The unique string identifier for the database","type":"string"},"pluralName":{"description":"A plural display name for the database","type":"string"},"singularName":{"description":"A singular display name for the database","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.FieldGroup":{"description":"Represents a folder in the data source tree of an EMS installation.","required":["id","name"],"type":"object","properties":{"id":{"description":"The unique string identifier for the field group","type":"string"},"name":{"description":"The display name for the field group","type":"string"},"groups":{"description":"An ordered list of child groups contained in a field group","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.FieldGroup"}},"fields":{"description":"An ordered list of child fields contained in a field group","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Field"}}}},"Adi.Ems.Web.Api.V2.Dto.Schema.Field":{"description":"Represents an individual field that can be accessed within a data source.","required":["id","type","name"],"type":"object","properties":{"id":{"description":"The unique string identifier for the field","type":"string"},"type":{"description":"The data type of the underlying data stored for the field","enum":["boolean","dateTime","discrete","number","string"],"type":"string"},"name":{"description":"The display name for the field","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.Query":{"description":"Represents the options used to make up a data source query.","required":["select"],"type":"object","properties":{"select":{"description":"An array specifying the fields to select and return as columns in the query results","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.SelectColumn"}},"groupBy":{"description":"An array specifying the fields by which to group aggregate operations. If not specified, no grouping\r\n            is performed","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.GroupByColumn"}},"orderBy":{"description":"An array specifying the selected columns by which to order result rows. Results are always ordered by the\r\n            results value, not by the display formatted value (configured to be returned by the format property). If\r\n            not specified, results are returned in default database ordering","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.OrderByColumn"}},"filter":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.Filter","description":"A filter used to narrow the query results"},"format":{"description":"Value formatting that should be performed on results values before returning. If not specified, no results\r\n            formatting is performed","enum":["none","display"],"type":"string"},"distinct":{"description":"Whether to remove duplicate rows from query results <b>before formatting</b> the results. Using a format\r\n            value other than 'none' can reduce results precision, leading to cases where two distinct rows appear\r\n            equivalent after formatting is applied. Defaults to false if not specified","type":"boolean"},"top":{"format":"int32","description":"Identifies a subset of rows to return.\r\n            The subset is formed by selecting only the first N rows of the set, where N is a positive integer provided \r\n            as the value of this property. If not specified, all rows are returned","type":"integer"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.SelectColumn":{"description":"Represents a column of data that can be selected in a data source query.","required":["fieldId"],"type":"object","properties":{"fieldId":{"description":"The unique string identifier of the field to select in a query.","type":"string"},"aggregate":{"description":"An optional aggregate operation to perform on the column. Omission of this property results in no aggregate \r\n            operation being performed.","enum":["none","avg","count","max","min","stdev","sum","var"],"type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.GroupByColumn":{"description":"Represents a column of data that can be used in a group-by clause of a data source query.","required":["fieldId"],"type":"object","properties":{"fieldId":{"description":"The unique string identifier of the field to use in a group-by clause of a query","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.OrderByColumn":{"description":"Represents a column of data that can be used in a order-by clause of a data source query.","required":["fieldId"],"type":"object","properties":{"fieldId":{"description":"The unique string identifier of the field to use in a order-by clause of a query","type":"string"},"aggregate":{"description":"An optional aggregate operation to perform on the column. Omission of this property results in no aggregate \r\n            operation being used in the ordering","enum":["none","avg","count","max","min","stdev","sum","var"],"type":"string"},"order":{"description":"The ordering behavior to use for the column values. The omission of this property results in ascending order","enum":["asc","desc"],"type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.Filter":{"description":"Represents the operations and arguments that can be used to filter a data source query.","required":["operator","args"],"type":"object","properties":{"operator":{"description":"The unique string identifier of the operation to perform","enum":["isTrue","isFalse","isNull","isNotNull","and","or","not","in","notIn","plus","minus","multiply","divide","modulo","equal","notEqual","lessThan","lessThanOrEqual","greaterThan","greaterThanOrEqual","betweenInclusive","betweenLowerExclusive","betweenUpperExclusive","betweenExclusive","notBetweenInclusive","notBetweenLowerExclusive","notBetweenUpperExclusive","notBetweenExclusive","integerRangeInclude","integerRangeExclude","realRangeInclude","realRangeExclude","like","notLike","allWords","anyWords","noWords","dateRelative","dateSpecificMonths","dateSpecificMonth","dateBeforeMonth","dateOnAfterMonth","dateSpecificDays","dateSpecificDay","dateBeforeDay","dateOnAfterDay","dateTimeRange","dateTimeBefore","dateTimeOnAfter","dateQuarterOfYear","dateMonthOfYear","dateDayOfWeek","dateTimeHourOfDay"],"type":"string"},"args":{"description":"An ordered list of arguments to provide the operator. The requirements for the arguments depend on which \r\n            operation is being performed","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.FilterArgument"}}}},"Adi.Ems.Web.Api.V2.Dto.Schema.FilterArgument":{"description":"Represents an argument in a filter.","required":["type","value"],"type":"object","properties":{"type":{"description":"The type of the filter argument, describing the role of the argument.","enum":["none","filter","field","constant"],"type":"string"},"value":{"$ref":"#/definitions/System.Object","description":"The value represented by the filter argument."}}},"Adi.Ems.Web.Api.V2.Dto.Schema.QueryResult":{"description":"Represents the tabular results of a data source query.","required":["header","rows","isPartialResult"],"type":"object","properties":{"header":{"description":"An ordered list of header column information, describing the fields included in the results and matching \r\n            the order of columns in the resulting data rows","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.QueryResultHeader"}},"rows":{"description":"An array of arrays representing the resulting data rows of a query. Each inner array represents a single \r\n            results row","type":"array","items":{"type":"array","items":{"$ref":"#/definitions/System.Object"}}},"isPartialResult":{"description":"Indicates whether the rows returned are a partial query result because the maximum amount of rows that can \r\n            be returned has been reached.","type":"boolean"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.QueryResultHeader":{"description":"Represents a header column in data source query result.","required":["id","name"],"type":"object","properties":{"id":{"description":"The unique string identifier of the field associated with this column","type":"string"},"name":{"description":"The user-friendly display name of the field associated with this column","type":"string"},"units":{"description":"The units of values of the field associated with this column. This value may be empty if not applicable","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryInfo":{"description":"Passed back to the client when an async query is started. This contains query header\r\n            information, and a unique ID, with which the user can later read data for this query.","type":"object","properties":{"id":{"description":"The ID of the query; this will be used when making subsequent calls to the query APIs.","type":"string"},"inactivityTimeout":{"format":"int32","description":"The number of seconds of inactivity after which an async query is eligible for automatic deletion.","type":"integer"},"header":{"description":"An ordered list of header column information, describing the fields included in the results and matching \r\n            the order of columns in the resulting data rows.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Schema.QueryResultHeader"}}}},"Adi.Ems.Web.Api.V2.Dto.Schema.AsyncQueryData":{"description":"Represents the tabular results of a data source query obtained from an async query.","required":["rows"],"type":"object","properties":{"rows":{"description":"An array of JSON string arrays, where each entry is a row in the results set.","type":"array","items":{"type":"string"}}}},"System.Void":{"type":"object","properties":{}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResults":{"description":"Encapsulates all the profile results for a flight.","type":"object","properties":{"profileVersion":{"format":"int32","type":"integer"},"parameterFiltering":{"type":"boolean"},"measurements":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"timepoints":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"events":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultsEventRecord"}}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue":{"description":"Encapsulates information about a profile results value (measurement or timepoint).","type":"object","properties":{"itemId":{"format":"int32","type":"integer"},"dataValue":{"format":"double","type":"number"}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultsEventRecord":{"description":"Encapsulates information about an event result stored in the database.","type":"object","properties":{"recordNumber":{"format":"int32","type":"integer"},"eventType":{"format":"int32","type":"integer"},"phaseOfFlight":{"format":"int32","type":"integer"},"severity":{"format":"int32","type":"integer"},"status":{"format":"int32","type":"integer"},"falsePositive":{"format":"int32","type":"integer"},"startTime":{"format":"double","type":"number"},"endTime":{"format":"double","type":"number"},"globalMeasurements":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"globalTimepoints":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"localMeasurements":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"localTimepoints":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultValue"}},"comments":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultComment"}}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.ProfileResultComment":{"description":"Encapsulates information about a comment.","type":"object","properties":{"user":{"type":"string"},"date":{"format":"date-time","type":"string"},"comment":{"type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfile":{"description":"Represents an APM (Automated Parameter Measurement) profile in an EMS system.","required":["profileId","profileGuid","profileName","library","currentVersion","path"],"type":"object","properties":{"profileId":{"format":"int32","description":"The local identifier for a profile","type":"integer"},"profileGuid":{"description":"The unique identifier of a profile in the system","type":"string"},"profileName":{"description":"The name of the profile","type":"string"},"library":{"description":"Flag for if a profile is a library profile","type":"boolean"},"currentVersion":{"format":"int32","description":"The version of the profile","type":"integer"},"path":{"description":"Path to the profile's location","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.EmsProfileGlossary":{"description":"","type":"object","properties":{"glossaryVersion":{"format":"int32","description":"The version of the EMS glossary the results were generated from.","type":"integer"},"profileId":{"format":"int32","description":"The local identifier of the profile","type":"integer"},"profileGuid":{"description":"The unique GUID of the profile in the system","type":"string"},"currentVersion":{"format":"int32","description":"The version of the associated profile","type":"integer"},"currentVersionGuid":{"description":"The GUID identifier for the version of this profile.","type":"string"},"glossaryItems":{"description":"Array of entries in this glossary.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.EmsProfile.GlossaryItem"}}}},"Adi.Ems.Web.Api.V2.Dto.EmsProfile.GlossaryItem":{"description":"Represents a single entry for an item in a profile glossary.","type":"object","properties":{"recordType":{"description":"A character representing a profile glossary entries record type.","type":"string"},"scope":{"description":"A character representing the scope of this entry.","type":"string"},"itemId":{"format":"int32","description":"A unique integer id for this item.","type":"integer"},"eventTypeId":{"format":"int32","description":"The event type id of this item. This is only available for valid event types.","type":"integer"},"dataType":{"description":"A character representing the data type of this entry.","type":"string"},"logicalId":{"description":"A GUID defining this item's logical id.","type":"string"},"name":{"description":"The name provided for this item.","type":"string"},"units":{"description":"An optional unit provided for this item.","type":"string"},"firstAssociatedItemType":{"description":"The item type of the first associated item.","type":"string"},"firstAssociatedItemScope":{"description":"The scope of the first associated item.","type":"string"},"firstAssociatedItemId":{"format":"int32","description":"The item id of the first associated item.","type":"integer"},"secondAssociatedItemType":{"description":"The item type of the second associated item.","type":"string"},"secondAssociatedItemScope":{"description":"The scope of the second associated item.","type":"string"},"secondAssociatedItemId":{"format":"int32","description":"The item id of the second associated item.","type":"integer"}}},"Adi.Ems.Web.Data.Model.EmsSystem":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"dirAdi":{"type":"string"},"dirCollection":{"type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetGroup":{"description":"A container for parameter sets.","type":"object","properties":{"name":{"description":"The name of the group.","type":"string"},"groupId":{"description":"The id of the group. This should be a relative path.","type":"string"},"groups":{"description":"An array of groups contained by this group.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetGroup"}},"sets":{"description":"An array of parameter sets contained by this group.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSet"}}}},"Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSet":{"description":"Encapsulates the some data defining a ParameterSet.","type":"object","properties":{"name":{"description":"The name of the ParameterSet.","type":"string"},"description":{"description":"An optional description of the ParameterSet.","type":"string"},"items":{"description":"An array of the parameters contained in the ParameterSet.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetItem"}}}},"Adi.Ems.Web.Api.V2.Dto.ParameterSet.ParameterSetItem":{"description":"A container for parameter sets.","type":"object","properties":{"chartIndex":{"format":"int32","description":"The index of the chart that this analytic info belongs to, or null if no index specified.","type":"integer"},"parameter":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.AnalyticInfo","description":"The analytic that is represented by this parameter set item."}}},"Adi.Ems.Web.Api.V2.Model.Tableau.Trusted":{"description":"Represents information that can be used to access Tableau content related to an associated Tableau server.","type":"object","properties":{"trustedUrl":{"description":"The URL that can be used to start a trusted session with the Tableau server.","type":"string"},"url":{"description":"The root URL of the Tableau server with site.","type":"string"},"site":{"description":"The site that the TrustedUrl is able to access when used.","type":"string"}}},"Adi.Ems.Web.Api.V2.Model.Tableau.TableauServer":{"description":"Represents information about the associated Tableau server.","type":"object","properties":{"url":{"description":"The root URL of the Tableau server with site.","type":"string"},"site":{"description":"The site being used.","type":"string"}}},"Adi.Ems.Web.Shared.Tableau.Rest.Site":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"contentUrl":{"type":"string"},"adminMode":{"type":"string"},"userQuota":{"type":"string"},"storageQuota":{"type":"string"},"state":{"type":"string"},"statusReason":{"type":"string"}}},"Adi.Ems.Web.Shared.Tableau.Rest.Project":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"contentPermissions":{"type":"string"}}},"Adi.Ems.Web.Shared.Tableau.Rest.Workbook":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"contentUrl":{"type":"string"},"showTabs":{"type":"boolean"},"size":{"format":"int32","type":"integer"},"createdAt":{"format":"date-time","type":"string"},"updatedAt":{"format":"date-time","type":"string"},"project":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Project"},"owner":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.User"},"tags":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Tags"},"views":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Views"}}},"Adi.Ems.Web.Shared.Tableau.Rest.User":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"siteRole":{"type":"string"},"lastLogin":{"format":"date-time","type":"string"},"externalAuthUserId":{"type":"string"}}},"Adi.Ems.Web.Shared.Tableau.Rest.Tags":{"type":"object","properties":{"tag":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.Tag"}}}},"Adi.Ems.Web.Shared.Tableau.Rest.Views":{"type":"object","properties":{"view":{"type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Shared.Tableau.Rest.View"}}}},"Adi.Ems.Web.Shared.Tableau.Rest.Tag":{"type":"object","properties":{"label":{"type":"string"}}},"Adi.Ems.Web.Shared.Tableau.Rest.View":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"contentUrl":{"type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.TrajectoryValueArray":{"description":"Encapsulates the data returned when requesting trajectory values through the API.","type":"object","properties":{"values":{"description":"The points in the generated trajectory.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.TrajectoryValue"}}}},"Adi.Ems.Web.Api.V2.Dto.TrajectoryValue":{"description":"Encapsulates a data point defining the positional information [lat/long/alt] \r\n            for a sample and the location it occurred at, in seconds from start of file.","type":"object","properties":{"offset":{"format":"double","description":"The offset of the value, in seconds from start of file.","type":"number"},"latitude":{"format":"double","description":"The latitude related to the offset at {Adi.Ems.Web.Api.V2.Dto.TrajectoryValue.Offset}.","type":"number"},"longitude":{"format":"double","description":"The longitude related to the offset at {Adi.Ems.Web.Api.V2.Dto.TrajectoryValue.Offset}.","type":"number"},"altitude":{"format":"double","description":"The altitude related to the offset at {Adi.Ems.Web.Api.V2.Dto.TrajectoryValue.Offset}.","type":"number"}}},"Adi.Ems.Web.Api.V2.Dto.TrajectoryConfiguration":{"description":"Encapsulates a data point defining the userOptions config for a Google Earth export.","type":"object","properties":{"trajectoryId":{"description":"A unique identifier for this type of KML trajectory. \r\n            Typically this just the name of the file sans extension.","type":"string"},"description":{"description":"A description of what kind of trajectory this KML type generates.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadRequest":{"description":"Encapsulates information that will be returned when beginning a new data ingestion transfer.","type":"object","properties":{"name":{"description":"The name of the transfer; this is not necessarily unique, and is basically just\r\n            what the user passed to us when they initiated the transfer.","type":"string"},"type":{"description":"The type of the upload; this is handler that we will use to process the uploaded data.\r\n            The format of the data will be determined by what this upload type is.","enum":["emsCollectionZipped","testTransfer","emsCollectionRaw"],"type":"string"},"password":{"description":"The password the data is encrypted with, if any. This point of the encryption possibility\r\n            is that this may be part of a store-and-forward system that stores the data encrypted locally.\r\n            (Thus passing it here along with the data is not particularly a security issue, but rather\r\n            a way to avoid having to decrypt it as it transfers.)","type":"string"},"totalSize":{"format":"int64","description":"The total size of the data to be transferred. This may be absent in the case where the upload\r\n            is being streamed and the total size is unknown.","type":"integer"},"metadata":{"description":"Arbitrary metadata attached to the transfer record. This may be used by post-processing later\r\n            or for other uses.","type":"object","additionalProperties":{"type":"string"}}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadParameters":{"description":"Passed back to the client when a multi-part upload is started. This contains further\r\n            instructions on how to proceed with the upload, including the transfer ID to pass to\r\n            future calls, as well as any change of URL for the actual chunk uploads.","type":"object","properties":{"transferId":{"description":"The ID of the transfer; this will be used when making subsequent calls to the upload APIs.","type":"string"},"url":{"description":"The URL for the transfer; data block transfers regarding this upload should go to this URL.\r\n            This may also be an empty string, in which case you should keep using the normal URLs.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadResult":{"description":"Summarizes the result of an upload operation.","type":"object","properties":{"transferSuccessful":{"description":"If this is true, the transfer was successful and also the transferred data are intact.\r\n            This includes things like verifying the integrity of zip archives, for the overall transfer\r\n            completion.","type":"boolean"},"message":{"description":"If there was an error, then the error message will describe it. In the case of success, there\r\n            may also be a message here. This message will be suitable for display to a user.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadStatus":{"description":"This is sent as a response to an upload transfer status request.","type":"object","properties":{"currentCount":{"format":"int64","description":"The current number of bytes the server has received on this transfer.","type":"integer"},"state":{"description":"The state of the upload.","enum":["transferring","waitingProcessing","processing","processedSuccess","processedFailure","abandonedTransfer","abandonedProcessing","canceled"],"type":"string"},"message":{"description":"Contains a user-readable message about the status of the transfer.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadRecord":{"description":"Represents one record in the list of uploads that we know about on the server side.","type":"object","properties":{"id":{"description":"The transfer ID of the transfer, set by the server when the transfer started.","type":"string"},"type":{"description":"The type of the upload.","enum":["emsCollectionZipped","testTransfer","emsCollectionRaw"],"type":"string"},"name":{"description":"Name field set by the client when the transfer started.","type":"string"},"currentCount":{"format":"int64","description":"The current number of bytes transferred.","type":"integer"},"totalSize":{"format":"int64","description":"The total size of the transfer, if known.","type":"integer"},"lastTransfer":{"format":"date-time","description":"The timestamp of the last time someone uploaded bytes to this transfer. This will\r\n            be used to determine when a transfer can be aborted automatically.","type":"string"},"lastProcessing":{"format":"date-time","description":"The timestamp of the last time someone tried to process this transfer. This will\r\n            be used to determine when a transfer can be aborted automatically.","type":"string"},"startTime":{"format":"date-time","description":"The start time of the transfer, from when the initial start request is made.","type":"string"},"transferFinishTime":{"format":"date-time","description":"The finish time of the actual data transfer portion of the process.","type":"string"},"processingFinishTime":{"format":"date-time","description":"The finish time of the processing portion of the process.","type":"string"},"state":{"description":"The state of the upload, up to and including EMS hand-off.","enum":["transferring","waitingProcessing","processing","processedSuccess","processedFailure","abandonedTransfer","abandonedProcessing","canceled"],"type":"string"},"metadata":{"description":"Metadata for the upload; this is somewhat arbitrary and specific to the type\r\n            of the transfer, but in any event, it will be a JSON blob with key/value pairs.","type":"object","additionalProperties":{"type":"string"}}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadProcessingStatus":{"description":"Represents the status of an upload processing through EMS.","type":"object","properties":{"downloadRecord":{"format":"int32","description":"The upload's download record, if known.","type":"integer"},"downloadState":{"description":"A description of the download record's processing state. This should be checked before assuming\r\n            that the download is correct and complete.","enum":["notProcessed","processed","failure"],"type":"string"},"flights":{"description":"The upload's flight information, if known.","type":"array","items":{"$ref":"#/definitions/Adi.Ems.Web.Api.V2.Dto.Upload.UploadProcessingFlightStatus"}},"errorMessage":{"description":"Any error message associated with the processing of the upload, if any.","type":"string"}}},"Adi.Ems.Web.Api.V2.Dto.Upload.UploadProcessingFlightStatus":{"description":"A single flight result within a larger download result.","type":"object","properties":{"flightRecord":{"format":"int32","description":"The flight record for the flight.","type":"integer"},"flightStatus":{"description":"A description of the flight record's processing state. This should be checked before assuming\r\n            that the flight is correct and complete.","enum":["notProcessed","processed","failure"],"type":"string"}}}}}